<div class="breatcome_area d-flex align-items-end">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>Our Identity</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow bg-danger">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 text-white">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <img src="../../../../assets/images/slider/ouridentity_logo_about.png" width="25%" alt="" />
                        <h2 class="text-white">Our Philosophy</h2>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            Our aim is to build the most competent human resources who can lead not only national but
                            also global avenues. Our focus is to have technological interventions to meet the social and
                            technological needs of the future. We will adopt an interdisciplinary approach of “learning
                            to learn” to cultivate knowledge, support education, and facilitate social advancement.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            We believe in a holistic approach for not only the intellectual but emotional & humanitarian
                            development of students by imparting outcome base education in force. Our goal is to
                            harmonize the heart–hand–mind actions of students for making India a new place for the
                            world.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience">
                        <img src="../../../../assets/images/slider/Noble-University-Only-Logo-ouridentity.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="service_area pt-80 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text_center mb-60 mt-3">
                    <div class="section_main_title">
                        <h1>What We Stand For</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="service_style_seven_icon mr-3">
                        <img src="../../../../assets/images/slider/our_identity_we_stand.png" alt="" />
                    </div>
                    <div class="service_style_seven_content ">
                        <div class="service_style_seven_title pb-3">
                            <h5 class="text-danger">What We Stand For</h5>
                        </div>
                        <div class="service_style_seven_text">
                            <p>The need to be better than everyone else is quite prominent in scholars now more than
                                ever. While competition is growing day by day in every field, the person with the proper
                                skills and qualifications manages to make their mark. With an apt amount of passion and
                                zeal toward one’s profession, it can lead one to the top of the table.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="service_style_seven_icon mr-3">
                        <img src="../../../../assets/images/slider/our_identity_we_stand_2.png" alt="" />
                    </div>
                    <div class="service_style_seven_content ">
                        <div class="service_style_seven_title pb-3">
                            <h5 class="text-danger">Why We Are Stand For</h5>
                        </div>
                        <div class="service_style_seven_text">
                            <p>India is going to be supreme in the field of data science to cyber security & genome to
                                public health by 2030. There’s room for everyone in each corner of the country. That’s
                                not because we all agree with each other or live life the same way. Instead, it’s
                                because we value and respect each other’s differences and we know that we’re better
                                equipped to tackle the challenges of tomorrow when we work together.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="service_style_seven_icon mr-3">
                        <img src="../../../../assets/images/slider/our_identity_we_stand_3.png" alt="" />
                    </div>
                    <div class="service_style_seven_content ">
                        <div class="service_style_seven_title pb-3">
                            <h5 class="text-danger">How We Are Doing </h5>
                        </div>
                        <div class="service_style_seven_text">
                            <p>What does that look like? It looks like record-breaking levels of diversity in our
                                student body, campus resources to help students find their space in the community, and
                                our Principles of Community, which guide us in our everyday interactions. Where we are
                                confident to cultivate the Inter & multi-disciplinary learning due to highly diverse and
                                intercepted programs where we are confident to cultivate inter & multidisciplinary
                                learning due to the highly diverse & intercepted programs @ Noble University.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="service_area pt-80 pb-70 bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text_center mb-60 mt-3">
                    <div class="section_main_title">
                        <h1 class="text-white">What Our Logo Represents</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/n_logo.png" alt="" width="70%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4>N OF NOBLE</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>It Indicates Excellence in appearance as well as of high quality. The Noble possesses
                                higher quality of ambience and provides outstanding students with high moral to the
                                society.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/u_logo.png" alt="" width="70%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4>U OF UNIVERSITY</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>A University marks the place where knowledge, skills, degree and recognition is obtained.
                                The university provides a pool of ample knowledge in the field and standard of life
                                along with skills development with higher level of recognition in the learning.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/cap_logo.png" alt="" width="70%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4>GRADUATION CAP</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>The Graduation cap represents the contentment and celebration of academic excellence. The
                                university offers the moment of joy and satisfaction to the young ignited minds to lead
                                the path Of life happily and cheerfully.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/shiled_logo.png" alt="" width="70%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4>SHIELD</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>The shield represents the icon of fortification and haven The University offers
                                protection from the entire anomalous situation to carve the identity of a noble student.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="service_area pt-80 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-3 col-sm-12">
                <div class="service_style_seven shadow-none pt-3 pb-3 pl-4 pr-3 mb-30 d-flex align-items-center">
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4>What Our Identity Color Suggests</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>Colors have a powerful impact on our perception and emotions. That’s why we carefully
                                selected each color in our university’s brand design to reflect our values and identity.
                                Join us on a journey to explore the symbolism behind our brand colors and understand how
                                they embody our mission as an institution.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 d-flex flex-column">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="">
                        <button class="btn btn-danger w-50 colorbutton">&nbsp;</button>
                    </div>
                    <div class="service_style_seven_content mt-4">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-danger">RED COLOR</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>Red indicates good luck and suspiciousness. The University always thinks of the good luck
                                and wellbeing of the learners with creativity.</p>
                        </div>
                    </div>
                </div>
                <div class="service_style_seven pt-3 pl-4 pr-3 colorbox">
                    <div class="">
                        <button class="btn btn-light w-50 colorbutton">&nbsp;</button>
                    </div>
                    <div class="service_style_seven_content mt-4">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-light">WHITE COLOR</h4>
                        </div>
                        <div class="service_style_seven_text text-light">
                            <p>White is a sign of purity, simplicity and peace. The University's atmosphere is very
                                peaceful and pure amidst the lush green mountain ranges of Mt. Girar.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="service_style_seven shadow-none pt-3 pb-3 pl-4 pr-3 mb-30 d-flex align-items-center">
                    <div class="service_style_seven_content mt-4 smallbox">
                        <div class="pb-4">
                            <button class="btn btn-dark w-50 colorbutton">&nbsp;</button>
                        </div>
                        <div class="service_style_seven_title pb-3">
                            <h4>BLACK COLOR</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>Black marks the sophistication, power and grace. The university provides sophisticated
                                learners with powerful skills and graceful in manners.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow bg-danger">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <img src="../../../../assets/images/slider/vision-logo.png" width="20%" />
                        <h2 class="text-light pt-3">Our Vision</h2>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            To become one of the premier Techno-Scientific Educational Organisations through excellence
                            in Education, Research and Innovations thereby creating skilled professional leaders and/or
                            entrepreneurs with high morals and ethics to meet global challenges.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Identity-vision.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="service_area pt-80 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text_center mb-60 mt-3">
                    <div class="section_main_title">
                        <h1>Our Mission</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="h-100 service_style_four pt-30 pl-3 pr-3 mb-4 pb-30 text_center">
                    <div class="service_style_four_icon pb-3">
                        <img src="../../../../assets/images/slider/mission_icon_1.png" />
                    </div>
                    <div class="service_style_four_text">
                        <p>To encourage innovative ideas and provide value-based education through experienced, highly
                            qualified, and committed staff members.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="h-100 service_style_four pt-30 pl-3 pr-3 mb-4 pb-30 text_center">
                    <div class="service_style_four_icon pb-3">
                        <img src="../../../../assets/images/slider/mission_icon_2.png" />
                    </div>
                    <div class="service_style_four_text">
                        <p>To achieve a center of excellence by providing a conducive globally competitive environment
                            in all fields of education available on the campus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="h-100 service_style_four pt-30 pl-3 pr-3 mb-4 pb-30 text_center">
                    <div class="service_style_four_icon pb-3">
                        <img src="../../../../assets/images/slider/mission_icon_3.png" />
                    </div>
                    <div class="service_style_four_text">
                        <p>To inculcate a culture of integrity, self-reliance, leadership, and community responsibility.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="h-100 service_style_four pt-30 pl-3 pr-3 mb-4 pb-30 text_center">
                    <div class="service_style_four_icon pb-3">
                        <img src="../../../../assets/images/slider/mission_icon_4.png" />
                    </div>
                    <div class="service_style_four_text">
                        <p>To promote Institute-Industry Interaction through the collaboration for polishing and
                            trimming the students.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>