.breatcome_area{
    background: url(../../../../assets/images/slider/our-identity-banner-c.png) !important;
    background-size: cover !important;
}

.shadow{
    box-shadow: 2px 2px 4px 4px grey !important;
    padding: 2rem !important;
    border-radius: 1% !important;
}

.experience{
    background: #ffffff;
    border-radius: 20%;
}

.service_style_seven{
    height: 100% !important;
    background: #ffffff !important;
    border-radius: 2%;
}

.colorbutton{
    border-radius: 45%;
}

.colorbox{
    background: #ff0000 !important;
}

.smallbox{
    box-shadow: 0.5px 0.5px 1px 1px grey;
    border-radius: 2%;
    padding: 10%;
}