.breatcome_area{
    background: linear-gradient(200deg, rgba(227,14,14,0.7) 0%, rgba(0,0,0,0.7) 100%) !important;
    height: 200px;
}

.breatcome_area:before{
    background-image: none;
}

.attendencefont{
    margin-left: 1rem;
    font-weight: 800;
    font-size: larger;
}

.shadow_danger{
    box-shadow: 2px 2px 4px 4px grey !important;
    padding: 2rem !important;
    border-radius: 1% !important;
}

.shadow_light{
    box-shadow: 2px 2px 4px 4px grey !important;
    padding: 2rem !important;
    border-radius: 1% !important;
    border-top: 2px solid #ff0000;    
    background: #ffffff;
}

.viewbutton{
    border-radius: 40%;
    width: 7rem;
    color: #ff0000;
}

.borderdesign{
    border-left: 1px solid lightgrey;
}

*, ::after, ::before{
    box-sizing: content-box !important;
}
