<div class="breatcome_area d-flex align-items-end">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>Visionary Leaders</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-danger">PRESIDENT</h3>
                        <h5> Mr. Nilesh G. Dhulesia</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            I welcome all peers on the platform of Noble University. After leading many corporate
                            enterprises in the last three decades we landed with Shri Vivek Bharti Trust(VBT). Nearly
                            two decades ago, VBT committed itself to answer the urgent need for a robust professional
                            education. We established ourselves as a pioneer in the movement, a path-breaking model we
                            have continued to drive forward. We came up as a Noble group of institutes in the early
                            phase of this mission.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Our journey achieved a new milestone on 1st June 2022 being recognized as Noble University.
                            Noble University is a community where the best and brightest students learn from renowned
                            faculty members and strategic partnerships. Our innovative curriculum centers and research
                            opportunities are designed to solve today’s most pressing problems. Through our Diploma,
                            Graduate, Postgraduate, and Doctoral programs, we ensure our students receive a
                            multidisciplinary education that prepares them to be the next generation of leaders.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            We aim to move to the next level by sharply focusing on our ability to innovate. Through
                            partnerships, we are transforming the way education is perceived and taught as a discipline
                            while bringing a diverse population of students to our programs. Our programs teach in an
                            engaging way to create, advance, and build the future. Our students tell us that Noble
                            University offers an educational environment that is unique and what makes us distinct is
                            the value and quality of our programs.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <h5 class="text-danger">
                            I believe that University is a temple, Teachers are priests, And Students are gods.
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Mr.-Nilesh-G.-Dhulesia.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow bg-danger">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Mr.-Girish-Kotecha.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-white">VICE PRESIDENT</h3>
                        <h5>Mr. Girish Kotecha</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            Being a person of community service for the last couple of decades in the land of the Great
                            Poet “NARSI MEHTA” and under the blessing of the Spiritual epicenter of GIRNAR, Junagadh. I
                            welcome you to Noble University. Our staff is dedicated to helping students to adjust to
                            college life, get the most out of their college experience, and partner to make our
                            university community a better place for all its members to live, study, and work.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            We all have a part in determining whether each of us can achieve personal and academic
                            success. Success will depend on motivation, work style, and sense of personal
                            responsibility, but it also depends on the partnerships that develop which serve and help. I
                            hope we will not be reluctant or timid at all about reaching out to form our bonding with
                            the Noble family. We all are eager to join you in making such partnerships work.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Your participation in the remarkably broad range of programs and activities Student Life
                            offers can make a huge difference in the lives of the general student community. Noble
                            University is justifiably proud of the role students play in the life of the institution,
                            and I hope you will become an active part of this legacy of success.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <h5 class="text-white">
                            सुखार्थी त्यजते विद्यां विद्यार्थी त्यजते सुखम् । सुखार्थिन: कुतो विद्या कुतो विद्यार्थिन:
                            सुखम् ॥
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-danger">MANAGING TRUSTEE</h3>
                        <h5>Shree V.P. Trivedi</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            Noble University has been conceived by Shri Vivek Bharti Trust to put India on the global
                            education map by making Junagadh a Global Education Hub. Hence, NU fosters an aspiration of
                            being a World Class University. The exceptional vision of the University is to strengthen
                            institutional values of Honesty, Integrity, and transparency has enabled the university to
                            realize its ambitious goal soon.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            I am honored and privileged to be a managing trustee of the Vivek Bharti Trust & Noble
                            Family. I believe that in these challenging times, Noble Family needs to move forward
                            together and succeed in its mission of preparing the students for global assignments by
                            fostering attitude, building knowledge, and sharpening skills to create a talent pool best
                            fits not only jobs but also for entrepreneurship with a spirit of service to the society.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <h5 class="text-danger">
                            विद्याधनं सर्व धनं प्रधानम्
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Shree-V.P.-Trivedi.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow bg-danger">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Shree-K.D.-Pandya.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-white">CO-MANAGING TRUSTEE</h3>
                        <h5>Shree K.D. Pandya</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            Renowned educationist and academic manager, having widespread experience in imparting
                            education and managing educational organizations in and around this district and across
                            Gujarat state. A person with ideals and a motto to flourish the career of each child without
                            any discrimination.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            <span class="text-white">‘</span> Just start putting your efforts positively; no difficulty
                            can dare to come on your way provided you don’t allow it to interfere and disturb your
                            target. All problems come with definite solutions you have to search for them with your
                            talent and hard work. <span class="text-white">’</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-danger">ASSOCIATE PRESIDENT</h3>
                        <h5>Mr. Parth Dhulesia</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            Hello all Young beginners Noble University is governed by the young, visionary, and
                            techno-savvy entrepreneurs of Sorath. Leading with the philosophy of pursuing excellence in
                            the focused fields, Noble University envisions being an innovative player in the development
                            of India with strive to grow and reach the altitude to compete globally tomorrow.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            We believe that each young mind is a bunch of ideas; such ideas need a suitable platform to
                            become a giant enterprise. We at Noble University not only provide academic support but also
                            reinforce the facilities to incubate next-generation entrepreneurs. We have an extraordinary
                            vision of maker’s asylum through that we can germinate the start-up & innovation culture in
                            this region.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Our philosophy is, to cultivate and demonstrated high ethical values in this narrow
                            materialistic world of economy. We believe in excellence, ethics, and expansion. Our
                            escalated growth and presence across various sectors have been highly prominent not only in
                            Sorath but also from state to nation.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <h5 class="text-danger">
                            I welcome all success seekers to hold our hand to fly high.
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Parth-Dhulesia-pc.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow bg-danger">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Mr.-Parth-Kotecha.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-white">ASSOCIATE VICE-PRESIDENT</h3>
                        <h5>Mr. Parth Kotecha</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            Dear Young leaders of India I am fortunate to convey my gratitude to the students and future
                            citizens of the nation. As the leader of this great team, I look forward to working with all
                            academic and administrative units to lead the enhancement of educational services in ways
                            that support your goals. Together, we will continue to create an outstanding work
                            environment for all who are connected to Noble University by any means - one which surpasses
                            the environment of the day before. We will continue to work proactively to ensure our people
                            practices are congruent with the University’s mission, vision, and culture. We will continue
                            challenging our practices and policies to reflect an evolving community of supportive,
                            successful individuals, all of whom are valuable members of the learner community.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Noble University is committed to quality, growth, and connection to the community - all of
                            which begin with people who are highly effective and innovative. We appreciate the
                            opportunity to assist you.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Being an international motivational speaker: I would take the challenge to enhance the
                            mindset of students in a way that they can solve the problems of society by developing
                            lateral thinking involved in the university curriculum. I am looking forward to connecting
                            with students, thinkers, and all intellectuals who are on the same page.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-danger">ASSOCIATE MANAGING TRUSTEE</h3>
                        <h5>Dr. Manish Trivedi</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            I heartily welcome all aspirants of the educational fraternity on the floor of Noble
                            University. Looking into a decade-long journey of institute and transformation from Noble
                            Group of Institutions to Noble University. We are the most techno-driven organization in
                            this region. Using cutting-edge technology in the field of education would result in
                            fantastic outcomes. As we begin to charter a whole new way of working together, it’s
                            important to remember why we are all here: to serve our students in any way we can. As
                            educators we know that we must grow, learn, and reflect on how to improve ourselves every
                            year so that we leave the future of this world in the best, most capable, most educated
                            hands imaginable. If we don’t subscribe to this noble purpose, then what are we doing in
                            education? We at Academic Programs feel it is important to reflect on what makes Noble
                            University so special.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Academic Programs have the unique opportunity of serving society both behind the scenes and
                            on the front lines. We work with faculty and departments to help make their new programs,
                            courses, degrees, etc. come to fruition; and the amazing staff across the campus guide
                            individual students through their academic careers and also nurture them to become good
                            citizens and contribute to building the nation of the next century. It is always a pleasure
                            to highlight what our students, faculty, and staff have accomplished.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            I wish all the best to every stockholder of Noble University to achieve their goals.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Dr.-Manish-Trivedi.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow bg-danger">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Mr.-Siddharth-K.-Pandya.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-white">ASSOCIATE CO-MANAGING TRUSTEE</h3>
                        <h5>Mr. Siddharth K. Pandya</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            It is a pleasure to portray my view to you.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            In my view, and as reflected in our couple of decades journey in educational &
                            non-educational sectors good education is that which enables the growth and development of
                            the child in multiple dimensions. While we realize the great need for improvement both in
                            our school and higher education field the public education system as it is called, is to
                            teach children from all parts of the country without any discrimination, and so to clearly
                            serve the most disadvantaged sections of our society. so we decided to establish the
                            not-for-profit Noble University, for educating professionals, meaning experts in education
                            and other human development areas with the hope that many of our graduates would be
                            committed to working in the social sector.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Good education is not about rote memorization and getting good grades, it is about giving
                            our students, the ability to think critically, to question, and to develop their individual
                            autonomy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>