.breatcome_area{
    background: url(../../../../assets/images/slider/visinory.jpg) !important;
    background-position-y: top !important;
    background-size: cover !important;
}

p{
    font-size: small !important;
}

.shadow{
    box-shadow: 2px 2px 4px 4px grey !important;
    padding: 2rem !important;
    border-radius: 1% !important;
}