<div class="footer-middle pt-95 fw-bolder " style="background-image:url(../../../assets/images/feature-shape-2.png)">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 px-5">
                <div class="widget widgets-company-info">
                    <div class="footer-bottom-logo pb-40">
                        <img src="../../../assets/images/logo.png" alt="" />
                    </div>
                    <div class="company-info-desc">
                        <p>
                            Noble University is situated near the mountain terrains of GIRNAR, Junagadh, Gujarat. The Beautiful landscape of campus provides you with the most aesthetic feel of naturalism. Noble University is a non-profit state private University recognized by the government of Gujarat. Our outcome-based education is driven by our vision & mission of providing essential and synergic education to our learners. We firmly believe that education must not be limited purely to academic learning. No matter what you’re passionate about, we have something for everyone. You can have it all here.
                        </p>
                    </div>
                    <div class="follow-company-info pt-3">
                        <div class="follow-company-text mr-3">
                            <a href="#">
                                <p>Follow Us</p>
                            </a>
                        </div>
                        <div class="follow-company-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 px-5">
                <div class="widget widget-nav-menu">
                    <h4 class="widget-title pb-4">QUICK MENU</h4>
                    <div class="menu-quick-link-container ml-4">
                        <ul id="menu-quick-link" class="menu">
                            <li><a routerLink="/visitor/main/home">Home</a></li>
                            <li><a routerLink="/visitor/main/enrollnow">Admission Application</a></li>
                            <li><a routerLink="/visitor/main/admission/admission_offices">Admission Offices</a></li>
                            <li><a routerLink="/visitor/main/admission/how_to_apply">Admission Overview</a></li>
                            <li><a routerLink="/visitor/main/contact_us">Contact Us</a></li>
                            <li><a routerLink="/visitor/main/career">Career</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="widget widgets-company-info">
                    <h3 class="widget-title pb-4">Location</h3>
                    <div class="company-info-desc">
                        <h5 class=" text-white">"Parth Vatika"</h5>
                        <h6 class=" text-white">Junagadh Bhesan Road,</h6>
                        <h6 class=" text-white">Via. Vadal, Nr. Bamangam,</h6>
                        <h6 class=" text-white">Junagadh, Gujarat, India,</h6>
                        <h6 class=" text-white">Pin Code : 362310</h6>
                    </div>
                    <div class="footer-social-info">
                        <h6 class="text-white mt-5"><span>Phone : </span> +91 9824 299 961</h6>
                    </div>
                    <div class="footer-social-info">
                        <h6 class="text-white mt-5"><span>Email : </span> info@ngivbt.edu.in</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom mt-70 pt-3 pb-1">
            <div class="col-lg-6 col-md-6">
                <div class="footer-bottom-content">
                    <div class="footer-bottom-content-copy">
                        <p>© 2023 Noble University, All Rights Reserved. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="footer-bottom-right">
                    <div class="footer-bottom-right-text">
                        <a class="absod" href="#">Privacy Policy </a>
                        <a href="#"> Terms & Conditions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>