.breatcome_area{
    background: url(../../../../assets/images/slider/ayurveda_main.jpg) !important;
    background-position-y: center !important;
    background-size: cover !important;
}

.forbuttonradius{
    border-radius: 45%;
}

.service_style_seven{
    border-radius: 5% !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.shadow{
    box-shadow: 2px 2px 4px 4px grey !important;
    padding: 2rem !important;
    border-radius: 1% !important;
}

.experience{
    border-radius: 5%;
}
