<div id="carouselExampleIndicators_1" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators_1" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators_1" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators_1" data-slide-to="2"></li>
		<li data-target="#carouselExampleIndicators_1" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="../../../../assets/images/slider/sliderfpc1.png" alt="">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="../../../../assets/images/slider/sliderfpc2.png" alt="">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="../../../../assets/images/slider/sliderfpc3.png" alt="">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="../../../../assets/images/slider/sliderfpc4.png" alt="">
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators_1" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators_1" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>



<div class="about_area pt-85 pb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center justify-content-end ">
				<div class="single_about_thumb">
					<div class="single_about_thumb_inner h-100 w-100 ">
						<img src="../../../../assets/images/noble.jpeg" height="500" width="500" style="border-radius: 5%;"
						alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
				<div class="section_title text_left mb-40 mt-3">
					<div class="section_sub_title uppercase mb-3">
						<h3>Develop Your Identity With</h3>
					</div>
					<div class="section_main_title">
						<h1><u>NOBLE UNIVERSITY</u></h1>
					</div>
					<div class="em_bar">
						<div class="em_bar_bg"></div>
					</div>
					<div class="section_content_text mt-4 pt-4 text-start ">
						<h5>Noble University is situated near the mountain terrains of GIRNAR, Junagadh, Gujarat. The
							Beautiful landscape of campus provides you with the most aesthetic feel of naturalism. Noble
							University is a non-profit state private University recognized by the government of Gujarat.
							Our outcome-based education is driven by our vision & mission of providing essential and
							synergic education to our learners. We firmly believe that education must not be limited
							purely to academic learning. No matter what you’re passionate about, we have something for
							everyone. You can have it all here.
						</h5>
					</div>
					<div class="section_content_text pt-4">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="flipbox_area pt-85 pb-70"
	style="background-image:linear-gradient(to bottom, transparent -50%, #125753),url(../../../../assets/images/slider/n1.jpg);background-repeat: no-repeat;background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text_center white mb-55">
					<div class="section_main_title">
						<h1>Programs We Offer</h1>
					</div>
					<div class="em_bar">
						<div class="em_bar_bg"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6">
				<div class="techno_flipbox mb-30">
					<div class="techno_flipbox_font">
						<div class="techno_flipbox_inner">
							<div class="techno_flipbox_icon">
								<div class="icon">
									<i class="flaticon-padlock"></i>
								</div>
							</div>
							<div class="flipbox_title">
								<h5 class="text-white">Diploma, Bachelors, Masters, Ph.D.</h5>
							</div>
							<div class="flipbox_desc">
								<h2 class="text-white">Engineering</h2>
							</div>
						</div>
					</div>
					<div class="techno_flipbox_back "
						style="background-image:url(../../../../assets/images/programs_we_offer/1.jpg);background-size: cover;background-position-y: bottom;">
						<div class="techno_flipbox_inner">
							<div class="flipbox_button">
								<a routerLink="/visitor/main/course/faculty_of_engineering">Read More<i
										class="fa fa-angle-double-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6">
				<div class="techno_flipbox mb-30">
					<div class="techno_flipbox_font">
						<div class="techno_flipbox_inner">
							<div class="techno_flipbox_icon">
								<div class="icon">
									<i class="flaticon-intelligent"></i>
								</div>
							</div>
							<div class="flipbox_title">
								<h5 class="text-white">Bachelors, Masters, Ph.D.</h5>
							</div>
							<div class="flipbox_desc">
								<h2 class="text-white">Pharmacy</h2>
							</div>
						</div>
					</div>
					<div class="techno_flipbox_back "
						style="background-image:url(../../../../assets/images/programs_we_offer/2.jpg);background-size: cover;">
						<div class="techno_flipbox_inner">
							<div class="flipbox_button">
								<a routerLink="/visitor/main/course/faculty_of_pharmacy">Read More<i
										class="fa fa-angle-double-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6">
				<div class="techno_flipbox mb-30">
					<div class="techno_flipbox_font">
						<div class="techno_flipbox_inner">
							<div class="techno_flipbox_icon">
								<div class="icon">
									<i class="flaticon-code"></i>
								</div>
							</div>
							<div class="flipbox_title">
								<h5 class="text-white">Commerce, MBA & IMBA</h5>
							</div>
							<div class="flipbox_desc">
								<h2 class="text-white">Management</h2>
							</div>
						</div>
					</div>
					<div class="techno_flipbox_back "
						style="background-image:url(../../../../assets/images/programs_we_offer/3.jpg);background-size: cover;">
						<div class="techno_flipbox_inner">
							<div class="flipbox_button">
								<a routerLink="/visitor/main/course/faculty_of_management_commerce">Read More<i
										class="fa fa-angle-double-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6">
				<div class="techno_flipbox mb-30">
					<div class="techno_flipbox_font">
						<div class="techno_flipbox_inner">
							<div class="techno_flipbox_icon">
								<div class="icon">
									<i class="flaticon-content-writing"></i>
								</div>
							</div>
							<div class="flipbox_title">
								<h5 class="text-white">Bachelors, Masters, Ph.D.</h5>
							</div>
							<div class="flipbox_desc">
								<h2 class="text-white">Computer Application</h2>
							</div>
						</div>
					</div>
					<div class="techno_flipbox_back "
						style="background-image:url(../../../../assets/images/programs_we_offer/4.png);background-size: cover;">
						<div class="techno_flipbox_inner">
							<div class="flipbox_button">
								<a routerLink="/visitor/main/course/faculty_of_computer_applcation">Read More<i
										class="fa fa-angle-double-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6">
				<div class="techno_flipbox mb-30">
					<div class="techno_flipbox_font">
						<div class="techno_flipbox_inner">
							<div class="techno_flipbox_icon">
								<div class="icon">
									<i class="flaticon-bar-chart"></i>
								</div>
							</div>
							<div class="flipbox_title">
								<h5 class="text-white">B. Sc.</h5>
							</div>
							<div class="flipbox_desc">
								<h2 class="text-white">Nursing</h2>
							</div>
						</div>
					</div>
					<div class="techno_flipbox_back "
						style="background-image:url(../../../../assets/images/programs_we_offer/5.png);background-size: cover;">
						<div class="techno_flipbox_inner">
							<div class="flipbox_button">
								<a routerLink="/visitor/main/course/faculty_of_nursing">Read More<i
										class="fa fa-angle-double-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6">
				<div class="techno_flipbox mb-30">
					<div class="techno_flipbox_font">
						<div class="techno_flipbox_inner">
							<div class="techno_flipbox_icon">
								<div class="icon">
									<i class="flaticon-business-and-finance"></i>
								</div>
							</div>
							<div class="flipbox_title">
								<h5 class="text-white">Bachelors, Masters, Ph.D.</h5>
							</div>
							<div class="flipbox_desc">
								<h2 class="text-white">Science</h2>
							</div>
						</div>
					</div>
					<div class="techno_flipbox_back "
						style="background-image:url(../../../../assets/images/programs_we_offer/6.jpg);background-size: cover;">
						<div class="techno_flipbox_inner">
							<div class="flipbox_button">
								<a routerLink="/visitor/main/course/faculty_of_science">Read More<i
										class="fa fa-angle-double-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6">
				<div class="techno_flipbox mb-30">
					<div class="techno_flipbox_font">
						<div class="techno_flipbox_inner">
							<div class="techno_flipbox_icon">
								<div class="icon">
									<i class="flaticon-padlock"></i>
								</div>
							</div>
							<div class="flipbox_title">
								<h5 class="text-white">B.A.M.S.</h5>
							</div>
							<div class="flipbox_desc">
								<h2 class="text-white">Ayurveda</h2>
							</div>
						</div>
					</div>
					<div class="techno_flipbox_back "
						style="background-image:url(../../../../assets/images/programs_we_offer/7.jpg);background-size: cover;">
						<div class="techno_flipbox_inner">
							<div class="flipbox_button">
								<a routerLink="/visitor/main/course/faculty_of_ayurveda">Read More<i
										class="fa fa-angle-double-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6">
				<div class="techno_flipbox mb-30">
					<div class="techno_flipbox_font">
						<div class="techno_flipbox_inner">
							<div class="techno_flipbox_icon">
								<div class="icon">
									<i class="flaticon-intelligent"></i>
								</div>
							</div>
							<div class="flipbox_title">
								<h5 class="text-white">B.H.M.S.</h5>
							</div>
							<div class="flipbox_desc">
								<h2 class="text-white">Homeopathy</h2>
							</div>
						</div>
					</div>
					<div class="techno_flipbox_back "
						style="background-image:url(../../../../assets/images/programs_we_offer/8.jpg);background-size: cover;">
						<div class="techno_flipbox_inner">
							<div class="flipbox_button">
								<a routerLink="/visitor/main/course/faculty_of_homeopathy">Read More<i
										class="fa fa-angle-double-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>



<div class="call_do_action pt-85 pb-130 bg_color" style="background-image:url(../../../../assets/images/call-bg.png)">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-white text-center mb-5">Why Choose NU?</h1>
			</div>

			<div class="col-lg-2 col-md-3 col-sm-6">
				<div class="team_style_two mb-4">
					<div class="team_style_two_thumb">
						<img src="../../../../assets/images/programs_we_offer/c1.jpg" alt="" />
					</div>
					<div class="team_style_two_content">
						<div class="team_style_two_title pb-2">
							<span>Active Learning</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-3 col-sm-6">
				<div class="team_style_two mb-4">
					<div class="team_style_two_thumb">
						<img src="../../../../assets/images/programs_we_offer/c2.jpg" alt="" />
					</div>
					<div class="team_style_two_content">
						<div class="team_style_two_title pb-2">
							<span>Highest Placement In Junagadh</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-3 col-sm-6">
				<div class="team_style_two mb-4">
					<div class="team_style_two_thumb">
						<img src="../../../../assets/images/programs_we_offer/c3.jpg" alt="" />
					</div>
					<div class="team_style_two_content">
						<div class="team_style_two_title pb-2">
							<span>Sports As Part Academic Timetable</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-3 col-sm-6">
				<div class="team_style_two mb-4">
					<div class="team_style_two_thumb">
						<img src="../../../../assets/images/programs_we_offer/c4.jpg" alt="" />
					</div>
					<div class="team_style_two_content">
						<div class="team_style_two_title pb-2">
							<span>Ultra Modern Library</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-3 col-sm-6">
				<div class="team_style_two mb-4">
					<div class="team_style_two_thumb">
						<img src="../../../../assets/images/programs_we_offer/c5.jpg" alt="" />
					</div>
					<div class="team_style_two_content">
						<div class="team_style_two_title pb-2">
							<span>Visionary Management</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-3 col-sm-6">
				<div class="team_style_two mb-4">
					<div class="team_style_two_thumb">
						<img src="../../../../assets/images/programs_we_offer/c6.jpg" alt="" />
					</div>
					<div class="team_style_two_content">
						<div class="team_style_two_title pb-2">
							<span>Curriculaum As Per NEP 2023</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="counter_area">
	<div class="container">
		<div class="row cntr_bg_up nagative_margin pt-50 pb-45">
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="single_counter text_center mb-4">
					<div class="countr_text">
						<h1><span class="counter">500</span><span>+</span> </h1>
					</div>
					<div class="counter_desc">
						<h5>Faculties</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="single_counter text_center mb-4">
					<div class="countr_text">
						<h1><span class="counter">80</span><span>+</span> </h1>
					</div>
					<div class="counter_desc">
						<h5>Programmes</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="single_counter text_center mb-4">
					<div class="countr_text">
						<h1><span class="counter">5500</span><span>+</span> </h1>
					</div>
					<div class="counter_desc">
						<h5>Students</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="single_counter text_center mb-4">
					<div class="countr_text">
						<h1><span class="counter">2000</span><span>+</span> </h1>
					</div>
					<div class="counter_desc">
						<h5>Hostlites</h5>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>



<div class="feature_area pt-80 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text_center mb-55">
					<div class="section_main_title">
						<h1>Latest Course</h1>
					</div>
					<div class="em_bar">
						<div class="em_bar_bg"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="feature_style_three mb-4">
					<div class="feature_style_tree_thumb">
						<img src="../../../../assets/images/latestcourse/l1.jpeg" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="feature_style_three mb-4">
					<div class="feature_style_tree_thumb">
						<img src="../../../../assets/images/latestcourse/l2.jpeg" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="feature_style_three mb-4">
					<div class="feature_style_tree_thumb">
						<img src="../../../../assets/images/latestcourse/l3.jpg" alt="" />
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="feature_style_three mb-4">
					<div class="feature_style_tree_thumb">
						<img src="../../../../assets/images/latestcourse/l4.jpg" alt="" />
					</div>
				</div>
			</div>

		</div>
	</div>
</div>