.breatcome_area{
    background: url(../../../../assets/images/slider/exam_corner_main.jpg) !important;
    background-position-y: center !important;
    background-size: cover !important;
}

.nav-tabs .nav-link {
    padding: 22px 22px !important;
}