<div class="breatcome_area d-flex align-items-end">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breatcome_title">
          <div class="breatcome_title_inner pb-2 align-text-bottom">
            <h2>EXAM CORNER</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ul class="nav nav-tabs my-5 d-flex align-items-center justify-content-between" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="ac-tab" data-toggle="tab" href="#ac" role="tab" aria-controls="ac"
    aria-selected="true">ACADEMIC CALENDER</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="es-tab" data-toggle="tab" href="#es" role="tab" aria-controls="es"
      aria-selected="false">EXAM SCHEDULES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="r-tab" data-toggle="tab" href="#r" role="tab" aria-controls="r"
      aria-selected="false">RESULTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="rr-tab" data-toggle="tab" href="#rr" role="tab" aria-controls="rr"
      aria-selected="false">RULES & REGULATION</a>
    </li>
  <li class="nav-item">
    <a class="nav-link" id="dv-tab" data-toggle="tab" href="#dv" role="tab" aria-controls="dv"
      aria-selected="false">DOCUMENT VERIFICATION</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="ac" role="tabpanel" aria-labelledby="ac-tab">
    <h3>Academic Calendar</h3>
  </div>
  <div class="tab-pane fade" id="es" role="tabpanel" aria-labelledby="es-tab">
    <h3>Exam Schedule</h3>
  </div>
  <div class="tab-pane fade" id="r" role="tabpanel" aria-labelledby="r-tab">
    <h3>Result</h3>
  </div>
  <div class="tab-pane fade" id="rr" role="tabpanel" aria-labelledby="rr-tab">
    <h3>Rules & Regulation</h3>
  </div>
  <div class="tab-pane fade" id="dv" role="tabpanel" aria-labelledby="dv-tab">
    <h3>Document Verification</h3>
  </div>
</div>