.breatcome_area{
    background: url(../../../../assets/images/slider/nu_advantage_main.png) !important;
    background-size: cover !important;
}

.service_style_seven{
    height: 100% !important;
    border-radius: 2%;
}