<div class="breatcome_area d-flex align-items-end">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breatcome_title">
					<div class="breatcome_title_inner pb-2">
						<h2>Training & Placement Cell</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="counter_area bg_color2 pt-100 pb-60">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="counter_style_three wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
					<div class="counter_style_three_icon pb-3">
					</div>
					<div class="counter_style_three_text">
						<h1><span class="counter">500</span><span>+</span> </h1>
					</div>
					<div class="counter_style_three_dex">
						<h5>Companies Visited</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="counter_style_three wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
					<div class="counter_style_three_icon pb-3">
					</div>
					<div class="counter_style_three_text">
						<h1><span class="counter">400</span><span>+</span></h1>
					</div>
					<div class="counter_style_three_dex">
						<h5>Student Placed</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="counter_style_three wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
					<div class="counter_style_three_icon pb-3">
					</div>
					<div class="counter_style_three_text">
						<h1><span class="counter">12.3</span><span>+ </span><span> LPA</span></h1>
					</div>
					<div class="counter_style_three_dex">
						<h5>Highest Package</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="counter_style_three wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
					<div class="counter_style_three_icon pb-3">
					</div>
					<div class="counter_style_three_text">
						<h1><span class="counter">2.65</span><span>+ </span><span> LPA</span></h1>
					</div>
					<div class="counter_style_three_dex">
						<h5>Average Packages</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="about_area pt-85 pb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center justify-content-end ">
				<div class="single_about_thumb">
					<div class="single_about_thumb_inner h-100 w-100 ">
						<img src="../../../../assets/images/slider/training_about.jpg" height="550" width="550"
							style="border-radius: 5%;" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
				<div class="section_title text_left mb-40 mt-5 pt-3 ">
					<div class="section_main_title">
						<h1 class="text-danger">About Training and Placement Cell</h1>
					</div>
					<div class="section_content_text mt-4 pt-4 text-start ">
						<h5>Noble University has a separate Training and Placement Cell managed by a dedicated Training
							and placement team. TPC is a platform for the Training and Placement of students and acts as
							a window between students and outside organizations. TPC establishes contacts with
							industrial organizations to arrange training and placement of the students. The TPC guides
							and helps pre-final and final-year students in securing a rewarding career with their
							knowledge and achievements, by organizing campus Interviews and exploring various avenues
							for their placement. TPC had MoUs with many industries to train the students for placement.
							The University extends all possible help and provides all available infrastructure
							facilities to the organizations and their respective officials conducting campus interviews
							on the college campus.
						</h5>
					</div>
					<div class="section_content_text pt-4">
					</div>
				</div>
			</div>

		</div>
	</div>
</div>