.breatcome_area{
    background: linear-gradient(200deg, rgba(227,14,14,0.7) 0%, rgba(0,0,0,0.7) 100%) !important;
    height: 200px;
}

.breatcome_area:before{
    background-image: none;
}

.shadow_light{
    box-shadow: 2px 2px 4px 4px grey !important;
    padding: 2rem !important;
    border-radius: 1% !important;
    border-top: 2px solid #ff0000;    
    background: #ffffff;
}

.bordercolor {
    border: solid 2px;
    border-color: #ff000048;
}

.bordercolor:focus {
    border-color: #ff000048;
    box-shadow: 0 0 0 .25rem #ff000048;
}

.viewbutton{
    border-radius: 40%;
    width: 7rem;
    color: #ff0000;
}