<div class="breatcome_area d-flex align-items-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title_inner pb-2">
                    <h2>Cancellation And Fees Refund Policy</h2>
                </div>
            </div>
        </div>
    </div>

    
    
    <div class="container-fluid">
        <div class="row m-3 d-flex justify-content-center">
            <div class="col-12 shadow_light m-3">
                <h5>Cancellation of Admission:</h5>
                <ul class="mx-5">
                    <li>For the cancellation of admission, a candidate has to apply in the prescribed form duly signed by him/her and counter signed by his/her parent/guardian at respective Institute.</li>
                    <li>The candidate has to enclose various required documents along-with form to be submitted to the Institute.</li>
                </ul>
                <h5>Refund of Fees:</h5>
                <ul class="mx-5">
                    <li>The refund of fees as applicable shall be made as per rules & regulations.</li>
                </ul>
            </div>
        </div>
    </div>