<div class="breatcome_area d-flex align-items-end">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>WHY STUDY AT NOBLE UNIVERSITY</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow bg-danger p-5">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 text-white d-flex align-items-center">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h2 class="text-white">Centre for Excellence</h2>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            The University is a one-of-its-kind, multi-disciplinary academic establishment in the
                            region, determined to become a ‘Centre for Excellence’ in Engineering, Technology,
                            Management, Commerce, Pharmacy, Homeopathy, Ayurveda, Science, Education, and Nursing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb">
                        <img src="../../../../assets/images/slider/why_nu_about.jpg" class="experience" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="service_area pt-80 pb-70 bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="service_style_seven bg-light pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_1.png" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-danger">Infrastructure</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>Situated beneath the hilly stretch of Girnar, a hill older than the Himalayas and
                                surrounded by scenic beauty, NU's campus is spread across 35 acres of land with 5 lakh
                                square feet of infrastructure which creates a beautiful and pleasant environment for
                                students.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="service_style_seven bg-light pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_2.jpg" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-danger">Culture</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>Students get ample opportunities to enhance their knowledge at the campus by engaging
                                with students from different disciplines, and cultures and learning through intra as
                                well as extracurricular activities throughout the year.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="service_style_seven bg-light pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_3.png" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-danger">Location</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>Located amidst lush greenery and an aesthetically pleasing natural environment, foreign
                                students also get an opportunity to visit forests, and historic places located in and
                                around Junagadh.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="service_area pt-80 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="service_style_seven bg-danger pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_4.jpg" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-light">EXTRA-CURRICULAR ACTIVITIES</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p class="text-light">We provide a platform to our students for Navratri Celebration,
                                Roadies, and Endeavor activities, which can also work to build professional skills that
                                a classroom alone cannot always foster. A leadership-oriented club, like Hacking Spot
                                Club, Techtotes Club & Robotics Club. We arrange sports week for fostering strong
                                team-building skills and train students in holding long-term goals.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="service_style_seven bg-danger pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_5.jpg" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-light">WELL-EQUIPPED LABORATORY & INFRASTRUCTURE</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p class="text-light">The NU campus is spread over 17.3 acres of land with a prominent 5
                                lack square feet of infrastructure. We have well-equipped labs that enable students to
                                perform lab activities more effectively. Currently, we are developing design labs for
                                engineering at our campus which facilitates better instruction and improves student
                                outcomes.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="service_style_seven bg-danger pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_6.jpg" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-light">Opportunities</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p class="text-light">An opportunity to learn from intellectuals and experts from various
                                fields who constantly guide students toward excellence in their respective fields while
                                maintaining a humble and cooperative attitude toward them.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="service_area pt-80 pb-70 bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="service_style_seven bg-light pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_7.jpg" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-danger">ASSOCIATES TO INDUSTRIES</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>We arrange industrial visits which provide an excellent starting point to achieve
                                practical knowledge. Students will observe and learn however theoretical ideas are
                                placed into action, thereby aiding their practical learning. Students are exposed to a
                                real working atmosphere and are shown how things are done in an organization. From the
                                main points regarding the management to the targets they accomplish, everything is
                                roofed in these visits.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="service_style_seven bg-light pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_8.jpg" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-danger">Events</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>National-level academic and cultural inter-college events that lead to unforgettable and
                                highly fruitful experiences,s, especially for foreign students.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="service_style_seven bg-light pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_9.png" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-danger">Facilities</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>Safe and friendly environment within the campus with facilities of the hostel as well as
                                a hospital for medical care.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="service_area pt-80 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="service_style_seven bg-danger pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_10.jpg" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-light">INTERNSHIP AND JOB OPPORTUNITIES</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p class="text-light">We provide support to our final-year students to develop and apply the
                                skills, theories, and concepts learned in the classroom. We offer students a hands-on
                                opportunity to work in their desired field. They learn how their course of study applies
                                to the real world and build a valuable experience that makes them stronger candidates
                                for jobs after graduation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="service_style_seven bg-danger pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_11.jpg" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-light">HIGHLY QUALIFIED & DEDICATED FACULTIES</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p class="text-light">Faculty team includes outstanding educators and researchers from the
                                academic, contributing towards the overall professional and personal growth of the
                                students. The faculty encourages and inspires the students to put in their best and
                                excel in their fields. Faculty ensures quality learning through effective understanding
                                of fundamental concepts through direct contact with business leaders and skilled
                                faculties.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="service_style_seven bg-danger pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_12.png" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-light">RECOGNIZING THE TRUE POTENTIAL WITHIN A STUDENT</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p class="text-light">We want all students to succeed, and recognize that our attitude and
                                commitment to helping them make forward progress are important aspects of their pursuit
                                of excellence. To help students succeed, we must first understand the best ways to
                                accomplish that. Students have unique preferences and learning styles that both motivate
                                them to learn and help them be successful in doing so.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="service_area pt-80 pb-70 bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="service_style_seven bg-light pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_13.jpg" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-danger">HANDS-ON TRAINING</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>We provide a platform for activities that work well in a live classroom setting can
                                include task simulations; role-playing, software training, or problem-solving exercises.
                                Hands-on learning is the process of learning by doing. To be most effective, hands-on
                                activities should mimic a real-world scenario as much as possible.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="service_style_seven bg-light pt-3 pb-3 pl-4 pr-3 mb-30">
                    <div class="d-flex justify-content-center">
                        <img src="../../../../assets/images/slider/why_nu_14.jpg" alt="" width="100%" />
                    </div>
                    <div class="service_style_seven_content mt-4 text-center">
                        <div class="service_style_seven_title pb-3">
                            <h4 class="text-danger">360-DEGREE DEVELOPMENT OF STUDENTS</h4>
                        </div>
                        <div class="service_style_seven_text">
                            <p>We provide a platform to students for the overall development of students like
                                Computational Skills, Personal Career Development, Creative Thinking, Leadership, and
                                Teamwork.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>