.breatcome_area{
    background: url(../../../../assets/images/slider/scholarship_main.jpg) !important;
    background-position-y: center !important;
    background-size: cover !important;
}

.shadow{
    box-shadow: 2px 2px 4px 4px grey !important;
    padding: 2rem !important;
    border-radius: 1% !important;
}

.underline{
    border-bottom: 2px solid;
}