<div class="breatcome_area d-flex align-items-end">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>SCHOLARSHIPS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-danger">Tuition Fee Waiver Scheme (TFWS)</h3>
                    </div>
                    <div class="section_content_text pt-4">
                        <ul class="px-5">
                            <li class="mb-5">
                                <h5 class="mb-3 underline pb-2">What is TFWS? OR Benefits of TFWS</h5>
                                <h6>If a student got admission under the TFW scheme then students do not have to pay
                                    tuition fees but students have to pay other fees such as exam fees, bus fees,
                                    deposit, and hostel fees.</h6>
                            </li>
                            <li class="mb-5">
                                <h5 class="mb-3 underline pb-2">SEATS RESERVED FOR TFWS</h5>
                                <h6>5% of total seats shall be filled by the TFW scheme.</h6>
                                <h6>Example: If there are 120 students in a department then there will be 6</h6>
                                <h6>Supernumerary Seats (in addition to 120 seats).</h6>
                            </li>
                            <li class="mb-5">
                                <h5 class="mb-3 underline pb-2">ELIGIBILITY FOR TFWS</h5>
                                <h6 class="px-3">
                                    <ul>
                                        <li>Students whose parent’s income is less than Rs. 6 lakh/annum are eligible
                                            for TFWS.</li>
                                        <li>To get the benefits of the TFW Scheme, the candidate has to submit the
                                            income certificate issued after 31st March from either ‘Mamlatdar’ or
                                            ‘Taluka Development Officer (TDO)’ or ‘Collector (Jan Seva Kendra)’ at the
                                            time of application form filling (registration for admission).</li>
                                        <li>No other document shall be considered valid(e.g. Income tax return,
                                            Certificate issued by ‘Sarpanch’).</li>
                                    </ul>
                                </h6>
                            </li>
                        </ul>
                        <div class="section_main_title">
                            <h3 class="text-danger">INSTRUCTIONS</h3>
                        </div>
                        <ul class="px-5">
                            <li>Students admitted under this scheme shall not be allowed to change Institution/course
                                under any circumstances.</li>
                            <li>Admission is strictly on merit number through the admission committee.</li>
                            <li>TFW scheme shall be applicable for the complete duration of the course (4 Years).</li>
                            <li>Candidates who want to opt for these additional TFWS seats will have to specify their
                                willingness in the options form as a separate choice code.</li>
                            <li>In the event of the non-availability of students in this category the same shall not be
                                given to any other category of applicants.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb text_center">
                        <img src="../../../../assets/images/slider/scholarship_1.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow bg-danger">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb text_center">
                        <img src="../../../../assets/images/slider/scholarship_2.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-white">Mukhyamantri Yuva Swavalamban Yojana</h3>
                    </div>
                    <div class="section_content_text pt-4">
                        <ul class="px-5">
                            <li class="mb-5 text-light">
                                <h5 class="mb-3 text-light underline pb-2">What is MYSY? OR Benefits of MYSY</h5>
                                <h6 class="text-light">Mukhymantri Yuva Swavalamban Yojana or MYSY Scholarship is a
                                    scholarship scheme that is offered to the economically weaker section students of
                                    Gujarat.</h6>
                            </li>
                            <li class="mb-5 text-light">
                                <h5 class="mb-3 text-light underline pb-2">ELIGIBILITY FOR MYSY</h5>
                                <h6 class="px-3 text-light">
                                    <ul>
                                        <li>Students securing 80 or more overall percentile in Class 10 or Class 12
                                            (Science Stream and General Stream) examination will be eligible for the
                                            benefit.</li>
                                        <li>Students with Dtod having 7 CGPA or above shall be eligible to avail the
                                            scheme.</li>
                                        <li>The income limit will be Rs 6 lakh maximum.</li>
                                        <li>Non-professional courses will be eligible for scholarship of 50% of the fee
                                            structure decided by the Govt.</li>
                                        <li>50% of the annual tuition fee prescribed for self-supporting courses of a
                                            Government recognized institution.</li>
                                        <li>for professional courses such as Engineering/Technology, Pharmacy,
                                            Architecture, Agriculture, Ayurveda, Homeopathic, Nursing, Physiotherapy,
                                            Paramedical, Veterinary etc. Eight rupees 50,000/- whichever is less, the
                                            assistance will be admissible every year.</li>
                                    </ul>
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>