<div class="breatcome_area d-flex align-items-end">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breatcome_title">
					<div class="breatcome_title_inner pb-2">
						<h2>Entrepreneur Development cell (EDC)</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="about_area pt-20 pb-40">
	<div class="container">
		<div class="row shadow bg-danger">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
				<div class="single_video">
					<div class="video_thumb experience text_center">
						<img src="../../../../assets/images/slider/edc_about.jpg" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
				<div class="section_title text_left mb-4">
					<div class="section_main_title">
						<h3 class="text-white">About EDC</h3>
					</div>
					<div class="section_content_text pt-4">
						<h5 class="text-white">
							The Entrepreneurship Development Cell (EDC) was started with the objective of promoting
							specialized knowledge in the field of entrepreneurship development. In view of the worldwide
							shortage of jobs (both government and private sectors) leading to unemployment problems and
							a lack of proper utilization of human resources; the cell strives to identify talented youth
							for entrepreneurial work. The cell plans to organize various programs regarding
							entrepreneurship development.
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="about_area pt-20 pb-40">
	<div class="container">
		<div class="row shadow">
			<div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
				<div class="section_title text_left mb-4">
					<div class="section_main_title">
						<img src="../../../../assets/images/slider/edc_short_term_goals_icon.png" height="8%" width="8%"
						alt="" />
						<h3 class="text-danger">Short-Term Goals</h3>
					</div>
					<div class="section_content_text pt-4 px-5">
						<ul>
							<li>To provide a platform for interaction with entrepreneurs.</li>
							<li>Impart entrepreneurial education/skills amongst students through various pieces of
								training and exercise.</li>
							<li>Arrange vibrant interactions with organizations promoting the cause of entrepreneurship.
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
				<div class="single_video">
					<div class="video_thumb experience text_center">
						<img src="../../../../assets/images/slider/edc_short_term_goals.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="about_area pt-20 pb-40">
	<div class="container">
		<div class="row shadow bg-danger">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
				<div class="single_video">
					<div class="video_thumb experience text_center">
						<img src="../../../../assets/images/slider/edc_long_term_goals.jpg" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
				<div class="section_title text_left mb-4">
					<div class="section_main_title">
						<img src="../../../../assets/images/slider/edc_long_term_goals_icon.png" height="20%" width="20%"
							alt="" />
						<h3 class="text-white pt-3">Long-Term Goals</h3>
					</div>
					<div class="section_content_text pt-4 px-5">
						<ul class="text-white">
							<li>Motivate students to develop their own start-ups</li>
							<li>Develop business incubators</li>
							<li>Create a corpus fund to seed ventures</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="process_area bg_color2 pt-50 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text_center mb-50">
					<div class="section_main_title">
						<h1>Activities Under EDC</h1>
					</div>
				</div>

			</div>
		</div>

		<div class="row mt-5">
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_activities_1.png" height="40%" width="40%" alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5>Entrepreneurship Education</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_activities_2.png" height="40%" width="40%" alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5>Entrepreneurship training courses like Learn-wise</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_activities_3.png" height="40%" width="40%" alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5>Entrepreneurship Games and Exercises</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_activities_4.png" height="40%" width="40%" alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5>Workshops</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_activities_5.png" height="40%" width="40%" alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5>Guest lectures</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_activities_6.png" height="40%" width="40%" alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5>Coffee with entrepreneur</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_activities_7.png" height="40%" width="40%" alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5>Seminars & conferences</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_activities_8.png" height="40%" width="40%" alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5>Skill Development Program</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_activities_9.png" height="40%" width="40%" alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5>Panel Discussion</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_activities_10.png" height="40%" width="40%"
						alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5>Intra and Inter-Institutional Competitions</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_activities_11.png" height="40%" width="40%"
							alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5>Get together with Entrepreneurs</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_activities_12.png" height="40%" width="40%"
							alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5>Storytelling</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>



<div class="process_area bg-danger pt-50 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text_center mb-50">
					<div class="section_main_title">
						<h1 class="text-light">Our Clubs, Cells & Academy</h1>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row mt-5">
			<div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_ourcell_cisco.png" height="40%" width="40%"
						alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5 class="text-light">CISCO CLUB</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_ourcell_nss.png" height="40%" width="40%" alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5 class="text-light">NSS club</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_ourcell_IIT_Mumbai.png" height="40%" width="40%"
							alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5 class="text-light">IIT- Bombay Remote center</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_ourcell_oracle.jpg" height="40%" width="40%"
							alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5 class="text-light">Oracle Academy</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_ourcell_nu_OSTC.jpg" height="40%" width="40%"
							alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5 class="text-light">Noble University Open Software Technology Club (OSTC)</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
				<div class="process_style_two text-center mb-30">
					<div class="process_style_two_thumb">
						<img src="../../../../assets/images/slider/edc_our_cell_robonob.png" height="40%" width="40%"
							alt="" />
					</div>
					<div class="process_style_two_content">
						<div class="process_style_two_content_title pt-3 pb-2">
							<h5 class="text-light">ROBONOB Cell</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>



<div class="about_area pt-20 pb-40">
	<div class="container">
		<div class="row shadow">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
				<div class="section_title text_left mb-4">
					<div class="section_main_title">
						<h3 class="text-danger">SSIP</h3>
					</div>
					<div class="section_content_text pt-4">
						<p>Empowering the young population of the State to unlock their creative potential through
							Start-ups and Innovation to enable them to contribute to sustainable development and
							inclusive growth towards the realization of Aatmanirbhar Gujarat.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
				<div class="single_video">
					<div class="video_thumb experience text_center">
						<img src="../../../../assets/images/slider/edc_ssip.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="about_area pt-20 pb-40">
	<div class="container">
		<div class="row shadow">
			<div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
				<div class="section_title text_left mb-4">
					<div class="section_main_title">
						<h3 class="text-danger">Major Noteworthy Efforts to promote Innovation and Student Startups.
						</h3>
					</div>
				</div>

				<div class="section_title text_left mb-4 mt-5">
					<div class="section_main_title">
						<h5 class="text-danger">Vivek Bharti Trust</h5>
					</div>
					<div class="section_content_text pt-1">
						<p>
							Vivek Bharti Trust(VBT) owns the financial liabilities of Noble University. VBT is also
							involved in many philanthropic activities. The trust is having strong background of business
							in this region.
						</p>
					</div>
				</div>

				<div class="section_title text_left mb-4">
					<div class="section_main_title">
						<h5 class="text-danger">Course & Mindset</h5>
					</div>
					<div class="section_content_text pt-1">
						<p>
							The curriculum of the university offers entrepreneurship as an elective credit course to the
							students to cultivate the startup mindset in the young generation.
						</p>
					</div>
				</div>

				<div class="section_title text_left mb-4">
					<div class="section_main_title">
						<h5 class="text-danger">Industry Interaction</h5>
					</div>
					<div class="section_content_text pt-1">
						<p>
							Industry –Institute interactions are kept in focus by the university, where several expert
							talks and round table meetings had been arranged to sensitize the students & teachers
							towards the entrepreneur eco-system.
						</p>
					</div>
				</div>

				<div class="section_title text_left mb-4">
					<div class="section_main_title">
						<h5 class="text-danger">Session for Success & Failures</h5>
					</div>
					<div class="section_content_text pt-1">
						<p>
							A special session of grassroots innovators is with their success and failure stories.
						</p>
					</div>
				</div>

				<div class="section_title text_left mb-4">
					<div class="section_main_title">
						<h5 class="text-danger">Events</h5>
					</div>
					<div class="section_content_text pt-1">
						<p>
							Each constituent institute of the university organizes its signature event where students
							get a platform to showcase their research & innovations to a wide range of audiences. Such
							activities boost the students to develop their creative and lateral thinking with the help
							of teachers.
						</p>
					</div>
				</div>

			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
				<div class="single_video">
					<div class="video_thumb experience text_center">
						<img src="../../../../assets/images/slider/edc_major.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>