<div class="breatcome_area d-flex align-items-end">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breatcome_title">
					<div class="breatcome_title_inner pb-2">
						<h2>Alumni</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="about_area pt-80 pb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
				<div class="single_video">
					<div class="video_thumb experience text_center">
						<img src="../../../../assets/images/slider/alumin_about.jpg" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
				<div class="section_title text_left mb-40 mt-5">
					<div class="section_main_title">
						<h1 class="text-danger">About Alumni</h1>
					</div>
					<div class="section_content_text mt-4 pt-4 text-start ">
						<h5>
							At Noble University, we take immense pride in our alumni community. Our alumni are a
							testament to the success of our institution and the impact it has had on their lives and
							careers. This page serves as a platform to reconnect, engage, and celebrate the achievements
							of our esteemed alumni.
						</h5>
					</div>
					<div class="section_content_text pt-4">
						<h5>As an alumna of Noble University, you are an integral part of our legacy. Whether you
							graduated recently or several years ago, we value your continued involvement and support.
							This page is designed to provide you with various resources, opportunities, and avenues to
							stay connected with your fellow alumni.</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="service_area bg_color2 pt-85 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="service_style_two mb-4">
					<div class="service_style_two_number mr-60">
						<h5>01</h5>
					</div>
					<div class="service_style_two_content">
						<div class="service_style_two_title pb-3">
							<h4>Alumni Spotlight</h4>
						</div>
						<div class="service_style_two_text">
							<p>We love to highlight the accomplishments and success stories of our alumni. This section
								features interviews, profiles, and articles showcasing the professional achievements,
								community contributions, and unique journeys of our esteemed graduates. It's an
								opportunity to inspire and motivate current students and fellow alumni.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="service_style_two mb-4">
					<div class="service_style_two_number mr-60">
						<h5>02</h5>
					</div>
					<div class="service_style_two_content">
						<div class="service_style_two_title pb-3">
							<h4>Alumni Directory</h4>
						</div>
						<div class="service_style_two_text">
							<p>Our extensive alumni directory allows you to search and connect with fellow graduates
								from various academic programs, disciplines, and graduating classes. Stay connected with
								old friends, find mentors or mentees, and expand your professional network. Update your
								contact information to ensure you receive the latest news and updates from the
								university.</p>
							</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="service_style_two mb-4">
					<div class="service_style_two_number mr-60">
						<h5>03</h5>
					</div>
					<div class="service_style_two_content">
						<div class="service_style_two_title pb-3">
							<h4>Volunteer and Mentorship Programs</h4>
						</div>
						<div class="service_style_two_text">
							<p>Give back to your alma mater and make a difference in the lives of current students. This
								section provides information about volunteer opportunities, mentorship programs, and
								ways to engage with students who can benefit from your expertise and experiences.</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row mt-3">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="service_style_two mb-4">
					<div class="service_style_two_number mr-60">
						<h5>04</h5>
					</div>
					<div class="service_style_two_content">
						<div class="service_style_two_title pb-3">
							<h4>Career Services</h4>
						</div>
						<div class="service_style_two_text">
							<p>Whether you are seeking new job opportunities or looking to hire talented professionals,
								our career services section is here to assist you. Explore job listings, career
								resources, and professional development opportunities exclusively available to our
								alumni network.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="service_style_two mb-4">
					<div class="service_style_two_number mr-60">
						<h5>05</h5>
					</div>
					<div class="service_style_two_content">
						<div class="service_style_two_title pb-3">
							<h4>News and Updates</h4>
						</div>
						<div class="service_style_two_text">
							<p>Stay up to date with the latest news, achievements, and developments at Noble University.
								From faculty accomplishments to groundbreaking research, this section showcases the
								ongoing progress and innovations happening within our institution.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>