<div class="breatcome_area d-flex align-items-center">
    <div class="row">
        <div class="col-lg-12">
            <div class="breatcome_title_inner pb-2">
                <h2>Change Password</h2>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row m-3 d-flex justify-content-center">
        <div class="col-12 shadow_light m-3">

            <form [formGroup]="passwordChange">

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="oldpass" class="text-dark">Old Password</label>
                            <input type="password" class="form-control bordercolor" id="oldpass"
                                aria-describedby="oldpassHelp" placeholder="" formControlName="oldpsw" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="newpass" class="text-dark">New Password</label>
                            <input type="password" class="form-control bordercolor" id="newpass"
                                aria-describedby="newpassHelp" placeholder="" formControlName="newpsw" required>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-danger text-light viewbutton"
                        (click)="submit()">Submit</button>
                </div>

            </form>

        </div>
    </div>
</div>