<div class="breatcome_area d-flex align-items-center">
    <div class="row">
        <div class="col-lg-12">
            <div class="breatcome_title_inner pb-2">
                <h2>Time Table</h2>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row m-3 d-flex justify-content-center">
        <div class="col-12 shadow_light m-3">

            <div class="row m-5">
                <div class="col-6">
                    <h5 class="text-center">Subject Full Name</h5>
                </div>
                <div class="col-6">
                    <h5 class="text-center">Faculty Full Name</h5>
                </div>
            </div>

        </div>
    </div>
</div>