<div class="breatcome_area d-flex align-items-center">
    <div class="row">
        <div class="col-lg-12">
            <div class="breatcome_title_inner pb-2">
                <h2>Privacy Policy</h2>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row m-3 d-flex justify-content-center">
        <div class="col-12 shadow_light m-3">
            <ul>
                <li>The Privacy Policy governs the use of this website including application portals.</li>
                <li>Information, provided by you, to the Institute will be private and confidential.</li>
                <li>The Institute reserves the right, to change or modify all or any part of contents without any
                    advance notice . Your continued use of the website constitutes your binding acceptance of these
                    terms and conditions, including any changes or modifications made by The Institute as permitted
                    above.</li>
                <li>The Institute treats your personal information or your use of the service as private and
                    confidential and does not check, edit or reveal it to any third parties except where it believes in
                    good faith, such action is necessary to comply with the applicable legal and regulatory processes or
                    to protect and defend the rights of other users or to enforce the terms of service which are binding
                    on all the users of the site.</li>
                <li>The information contents provided on this site cannot be copied, modified, uploaded, downloaded,
                    published or republished, transmitted or otherwise distributed for commercial purposes without prior
                    and explicit permission from the concerned authorities.</li>
                <li>Reproduction of any information or material provided on this website, with or without any
                    modification, is prohibited unless, with prior permission of the Institute and shall amount to
                    violation of copyright and would be deemed an illegal act.</li>
            </ul>
        </div>
    </div>
</div>