<div class="about_area pt-85 pb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
				<div class="section_title text_left mb-40 mt-3">
					<div class="section_sub_title uppercase mb-3">
						<form [formGroup]="enrollform">
							<div class="form-group">
								<label for="exampleInputName">Name</label>
								<input type="text" class="form-control" id="exampleInputName"
									aria-describedby="nameHelp" placeholder="Enter name" formControlName="name" required/>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" required/>
							</div>
							<div class="form-group">
								<label for="exampleInputPhoneNumber">Phone Number</label>
								<input type="tel" class="form-control" id="exampleInputPhoneNumber"
									placeholder="+91 91064 *****" formControlName="phonenumber" required/>
							</div>
							<div class="form-group">
								<label for="exampleFormControlSelect1">Course</label>
								<select class="form-control" id="exampleFormControlSelect1" formControlName="course" required>
									<option selected disabled>Select Course*</option>
									<option *ngFor="let a of list">{{a}}</option>
								</select>
							</div>
							<button type="submit" class="btn btn-danger" (click)="submit()">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center justify-content-end ">
				<div class="single_about_thumb">
					<div class="single_about_thumb_inner h-100 w-100 ">
						<img src="../../../../assets/images/slider/admission.jpg" height="500" width="500"
							style="border-radius: 5%;" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>