.about_area{
    background: lightgrey !important;
}

label{
    color: black !important;
}

.breatcome_area{
    background: url(../../../../assets/images/slider/career.png) !important;
    background-position-y: top !important;
    background-size: cover !important;
}