<div class="loader-wrapper">
    <div class="loader"></div>
    <div class="loder-section left-section"></div>
    <div class="loder-section right-section"></div>
</div>



<div class="header_top_menu pt-3 pb-1 bg_color d-flex align-items-baseline ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="header_top_menu_address">
                    <div class="header_top_menu_address_inner">
                        <ul>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>info@ngivbt.edu.in</a></li>
                            <li><a href="#"><i class="fa fa-map-marker"></i>Junagadh, Gujarat</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+91 98242 99961</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="header_top_menu_icon">
                    <div class="header_top_menu_icon_inner">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="donate-btn-header d-flex align-items-center">
        <a class="dtbtn loginbtn" routerLink="/login">Login</a>
    </div>
</div>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/visitor/main/home" class="logo"><img class="down" src="../../../assets/images/1.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <div class="container-fluid  d-flex justify-content-end">
            <div class="row align-items-center">
                <div class="menu">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <a routerLink="/visitor/main/who_we_are/visionary_management" class="mousehover">Who We Are</a>
                            <ul>
                                <li><a routerLink="/visitor/main/who_we_are/visionary_management">Visionary Management</a></li>
                                <li><a routerLink="/visitor/main/who_we_are/academic_leader">Academic Leader</a></li>
                                <li><a routerLink="/visitor/main/who_we_are/our_identity">Our Identity</a></li>
                                <li><a routerLink="/visitor/main/who_we_are/organogram">Organogram</a></li>
                                <li><a href="https://nobleuniversity.ac.in/wp-content/uploads/2024/01/NU-Act.pdf">NU Act</a></li>
                                <li><a routerLink="/visitor/main/who_we_are/library">Library</a></li>
                                <li><a routerLink="/visitor/main/who_we_are/infrastructure">Infrastructure</a></li>
                                <li><a href="../../../assets/NU-Brochure-2024-PPT_compressed.pdf">NU Brochare</a></li>
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/visitor/main/admission/why_study_at_noble_university" class="mousehover">Admission</a>
                            <ul>
                                <li><a routerLink="/visitor/main/admission/why_study_at_noble_university">Why Study At Noble University</a></li>
                                <li><a routerLink="/visitor/main/admission/how_to_apply">How To Apply</a></li>
                                <li><a routerLink="/visitor/main/admission/scholarship">Scholarship</a></li>
                                <li><a routerLink="/visitor/main/admission/nu_advantages">NU Advantages</a></li>
                                <li><a routerLink="/visitor/main/admission/admission_offices">Admission Offices</a></li>
                                <li><a routerLink="/visitor/main/admission/pay_fees_online">Pay Fees Online</a></li>
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/visitor/main/course/faculty_of_ayurveda" class="mousehover">Course</a>
                            <ul>
                                <li><a routerLink="/visitor/main/course/explore_our_programs">Explore Our Programs</a></li>
                                <li><a routerLink="/visitor/main/course/faculty_of_ayurveda">Faculty Of Ayurveda</a></li>
                                <li><a routerLink="/visitor/main/course/faculty_of_homeopathy">Faculty Of Homeopathy</a></li>
                                <li><a routerLink="/visitor/main/course/faculty_of_nursing">Faculty Of Nursing</a></li>
                                <li><a routerLink="/visitor/main/course/faculty_of_pharmacy">Faculty Of Pharmacy</a></li>
                                <li><a routerLink="/visitor/main/course/faculty_of_engineering">Faculty Of Engineering</a></li>
                                <li><a routerLink="/visitor/main/course/faculty_of_science">Faculty Of Science</a></li>
                                <li><a routerLink="/visitor/main/course/faculty_of_management_commerce">Faculty Of Management & Commerce</a></li>
                                <li><a routerLink="/visitor/main/course/faculty_of_computer_applcation">Faculty Of Computer Application</a></li>
                                <li><a routerLink="/visitor/main/course/faculty_of_education">Faculty Of Education</a></li>
                                <li><a routerLink="/visitor/main/course/faculty_of_arts">Faculty Of Arts</a></li>
                                <li><a routerLink="/visitor/main/course/faculty_of_liabrary_science">Faculty Of Liabrary Science</a></li>
                                <li><a routerLink="/visitor/main/course/vocational_studies">Vocational Studies</a></li>
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/visitor/main/academic/academic_overview" class="mousehover">Academics</a>
                            <ul>
                                <li><a routerLink="/visitor/main/academic/academic_overview">Academic Overview</a></li>
                                <li><a routerLink="/visitor/main/academic/best_practices">Best Practices</a></li>
                                <li><a routerLink="/visitor/main/academic/exam_corner">Exam Corner</a></li>
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/visitor/main/initiative/edc" class="mousehover">Initiative</a>
                            <ul>
                                <li><a routerLink="/visitor/main/initiative/edc">Enterpreneur Development Cell (EDC)</a></li>
                                <li><a routerLink="/visitor/main/initiative/nsic">Noble Start-up & Incubation Center (NSIC)</a></li>
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/visitor/main/training_placement_cell" class="mousehover">Training & Placement Cell</a>
                        </li>
                        <li>
                            <a routerLink="/visitor/main/alumni" class="mousehover">Alumni</a>
                        </li>
                        <li>
                            <a routerLink="/visitor/main/career" class="mousehover">Career</a>
                        </li>
                        <li>
                            <a routerLink="/visitor/main/contact_us" class="mousehover">Contact Us</a>
                        </li>
                        <div class="donate-btn-header d-flex align-items-center">
                            <a class="dtbtn mousehover" routerLink="/visitor/main/enrollnow">Enroll Now</a>
                        </div>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>