.mousehover:hover{
    color: #ff0000;
}
.mousehover{
    font-size: small !important;
}
.menu{
    display: flex;
    flex-direction: column;
}
.loginbtn{
    background-color: transparent !important;
    border: none !important;
    font-size: small !important;
}