<div class="breatcome_area d-flex align-items-end">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2 align-text-bottom">
                        <h2>BEST PRACTICES</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40 bg-danger">
    <div class="container">
        <div class="row shadow bg-light">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb text_center">
                        <img src="../../../../assets/images/slider/best_practice_about_1.jpg" class="experience" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-danger pt-3">Campus to Corporate Sessions</h3>
                    </div>
                    <div class="section_content_text pt-4">
                        <h5>
                            “ College to Corporate ” sessions are organized for final and pre-final year students to
                            prepare them for industries and aware them of the corporate culture. This includes: - Time
                            Management, Planning, and Prioritization - Attitude, Verbal and Nonverbal Skills - Effective
                            Communication Skills - Group Discussion and Team Building Skills - Etiquette and Interview
                            Skills.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40 bg-light">
    <div class="container">
        <div class="row shadow bg-danger">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-light">English Proficiency Development</h3>
                    </div>
                    <div class="section_content_text pt-4">
                        <h5 class="text-light">
                            English is the dominant professional and business language and a wide range of technical
                            literature is available in it. So it is necessary to provide support to the large number of
                            engineering students who are coming with vernacular language. Every year Students are
                            prepared for reading, listing speaking, and writing skills.
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb text_center">
                        <img src="../../../../assets/images/slider/best_practice_about_2.jpg" class="experience" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40 bg-danger">
    <div class="container">
        <div class="row shadow bg-light">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb text_center">
                        <img src="../../../../assets/images/slider/best_practice_about_3.jpg" class="experience" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-danger pt-3">E-waste management</h3>
                    </div>
                    <div class="section_content_text pt-4">
                        <h5>
                            E-waste generated is first reused on the campus itself. Then discarded waste is disposed of
                            by the board of officers to authorized vendors.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="service_area pt-80 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text_center mb-60 mt-3">
                    <div class="section_main_title">
                        <h1>Innovation In Teaching-Learning Process</h1>
                        <p>The teachers facilitate student learning which helps students gain skills, knowledge, and
                            thinking ability.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30 bg-danger">
                    <div class="service_style_seven_icon mr-3">
                        <img src="../../../../assets/images/slider/best_practices_iitlp_icon_1.png" alt="" />
                    </div>
                    <div class="service_style_seven_content ">
                        <div class="service_style_seven_title pb-3">
                            <h5 class="text-light">Student-Centric Learning</h5>
                        </div>
                        <div class="service_style_seven_text">
                            <p class="text-light">
                                As we found a few difficulties in the traditional method of chalk and talk teaching, we
                                have set up the classroom as student-centric namely the Innovative Teaching Learning
                                (ITL) process. In this ITL method, the classroom is conducted in such a way that it
                                satisfied the need of all the students.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30 bg-danger">
                    <div class="service_style_seven_icon mr-3">
                        <img src="../../../../assets/images/slider/best_practices_iitlp_icon_2.png" alt="" />
                    </div>
                    <div class="service_style_seven_content ">
                        <div class="service_style_seven_title pb-3">
                            <h5 class="text-light">Activity-Based Learning</h5>
                        </div>
                        <div class="service_style_seven_text">
                            <p class="text-light">
                                As this new process is connected with activity-based learning such as role play,
                                students get more space to interact with teachers and classmates. Further, PPTs, Videos,
                                OHPs, and short seminars are being used in the ITL method which results in an easy
                                understanding of the concepts by students.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30 bg-danger">
                    <div class="service_style_seven_icon mr-3">
                        <img src="../../../../assets/images/slider/best_practices_iitlp_icon_3.png" alt="" />
                    </div>
                    <div class="service_style_seven_content">
                        <div class="service_style_seven_title pb-3">
                            <h5 class="text-white">Project-Based Learning</h5>
                        </div>
                        <div class="service_style_seven_text">
                            <p class="text-light">
                                The ITL method provides detailed learning to students and also reduces their to initiate
                                a project on the basis of what they have learned in the classroom.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30 bg-danger">
                    <div class="service_style_seven_icon mr-3">
                        <img src="../../../../assets/images/slider/best_practices_iitlp_icon_4.png" alt="" />
                    </div>
                    <div class="service_style_seven_content ">
                        <div class="service_style_seven_title pb-3">
                            <h5 class="text-light">Technical Quiz</h5>
                        </div>
                        <div class="service_style_seven_text">
                            <p class="text-light">
                                To get in-depth knowledge in subjects, a technical quiz is conducted which helps
                                students to have specified learning.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30 bg-danger">
                    <div class="service_style_seven_icon mr-3">
                        <img src="../../../../assets/images/slider/best_practices_iitlp_icon_5.png" alt="" />
                    </div>
                    <div class="service_style_seven_content ">
                        <div class="service_style_seven_title pb-3">
                            <h5 class="text-light">Mentoring</h5>
                        </div>
                        <div class="service_style_seven_text">
                            <p class="text-light">
                                The teachers meet students periodically and counsel them to remove the difficulties in
                                their academic performance. Students’ personal issues are also discussed and proper
                                guidance and support are provided to ensure the comfort of students on campus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_seven pt-3 pb-3 pl-4 pr-3 mb-30 bg-danger">
                    <div class="service_style_seven_icon mr-3">
                    </div>
                    <div class="service_style_seven_content">
                        <div class="service_style_seven_title pb-3">
                            <h5 class="text-white">***</h5>
                        </div>
                        <div class="service_style_seven_text">
                            <p class="text-light">
                                The primary focus of the ITL method is to give students wide-ranging knowledge,
                                exceptional creativity, and more comfort and to bring out their hidden potential into
                                the limelight.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="about_area pt-20 pb-40 bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <img src="../../../../assets/images/slider/best_practice_coe_main_icon.png" height="20%"
                            width="20%" alt="" />
                        <h3 class="text-light pt-3">Centre of Excellence</h3>
                    </div>
                    <div class="section_content_text pt-4">
                        <h5 class="text-light">
                            Centre of Excellence is established to develop the skills of the students to make them
                            industry ready. Noble University has collaborated with various multinational organizations
                            like Cisco, Oracle, Infosys, Microsoft, etc. to provide training by industry experts to the
                            students within & outside the campus. To meet the requirements of industries, value-added
                            courses are organized for students through this forum.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 d-flex flex-column align-items-center shadow bg-light">

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 d-flex align-items-center bg-danger circle_bg">
                        <div class="single_video">
                            <div class="video_thumb text_center">
                                <img src="../../../../assets/images/slider/best_practice_coe_icon_1.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6 d-flex align-items-center">
                        <div class="section_title text_left mb-4">
                            <div class="section_main_title">
                                <h4 class="text-danger pt-3">Language Lab</h4>
                            </div>
                            <div class="section_content_text pt-4">
                                <p>
                                    A Digital language lab is set up to enhance the communicative skills of students
                                    helping them to be better equipped for the job market.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 d-flex align-items-center bg-danger circle_bg">
                        <div class="single_video">
                            <div class="video_thumb text_center">
                                <img src="../../../../assets/images/slider/best_practice_coe_icon_2.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6 d-flex align-items-center">
                        <div class="section_title text_left mb-4">
                            <div class="section_main_title">
                                <h4 class="text-danger pt-3">Industrial visits</h4>
                            </div>
                            <div class="section_content_text pt-4">
                                <p>
                                    An industrial visit is organized every year to acquaint the students with the latest
                                    practical knowledge and industry trends.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 d-flex align-items-center bg-danger circle_bg">
                        <div class="single_video">
                            <div class="video_thumb text_center">
                                <img src="../../../../assets/images/slider/best_practice_coe_icon_3.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6 d-flex align-items-center">
                        <div class="section_title text_left mb-4">
                            <div class="section_main_title">
                                <h4 class="text-danger pt-3">Incubation Centre</h4>
                            </div>
                            <div class="section_content_text pt-4">
                                <p>
                                    With the motive of encouraging the establishment of start-up companies in the
                                    immediate future, we train the students in various aspects to survive on their own
                                    in the future.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 d-flex align-items-center bg-danger circle_bg">
                        <div class="single_video">
                            <div class="video_thumb text_center">
                                <img src="../../../../assets/images/slider/best_practice_coe_icon_4.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6 d-flex align-items-center">
                        <div class="section_title text_left mb-4">
                            <div class="section_main_title">
                                <h4 class="text-danger pt-3">Engineering Clinic</h4>
                            </div>
                            <div class="section_content_text pt-4">
                                <p>
                                    Training the students in various day-to-day appliances like Mobile Testing and
                                    Repair, Servicing of fan and tube lights, Repair of laptops, etc. where engineering
                                    concepts are involved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>