<div class="breatcome_area d-flex align-items-center">
    <div class="row">
        <div class="col-lg-12">
            <div class="breatcome_title_inner pb-2">
                <h2>Feedback for faculty</h2>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row m-3 d-flex justify-content-center">
        <div class="col-12 shadow_light m-3">

            <div class="d-flex flex-column align-items-center">
                <ul class="nav nav-tabs my-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active forbuttonradius" id="add-tab" data-toggle="tab" href="#add" role="tab"
                            aria-controls="add" aria-selected="true">Add Feedback</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link forbuttonradius" id="list-tab" data-toggle="tab" href="#list" role="tab"
                            aria-controls="list" aria-selected="false">My Feedback</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="add" role="tabpanel" aria-labelledby="add-tab">

                    <form method="post" [formGroup]="feedbackapplication">

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="studentname" class="text-dark">Student Name</label>
                                    <input type="text" class="form-control bordercolor" id="studentname"
                                        aria-describedby="nameHelp" placeholder="" formControlName="name" readonly>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="enrollmentno" class="text-dark">Enrollment No.</label>
                                    <input type="text" class="form-control bordercolor" id="enrollmentno"
                                        aria-describedby="enrollmentnoHelp" placeholder="" formControlName="eno"
                                        readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="program" class="text-dark">Program</label>
                                    <input type="text" class="form-control bordercolor" id="program"
                                        aria-describedby="programHelp" placeholder="" formControlName="pro" readonly>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="branch" class="text-dark">Branch</label>
                                    <input type="text" class="form-control bordercolor" id="branch"
                                        aria-describedby="branchHelp" placeholder="" formControlName="department"
                                        readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="currentsemester" class="text-dark">Current Semester</label>
                                    <input type="text" class="form-control bordercolor" id="currentsemester"
                                        aria-describedby="currentsemesterHelp" placeholder="" formControlName="sem"
                                        readonly>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="mobileno" class="text-dark">Mobile No.</label>
                                    <input type="tel" class="form-control bordercolor" id="mobileno"
                                        aria-describedby="mobilenoHelp" placeholder="" formControlName="pno" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="emailid" class="text-dark">Email ID</label>
                                    <input type="email" class="form-control bordercolor" id="emailid"
                                        aria-describedby="emailidHelp" placeholder="" formControlName="mail" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="fname" class="text-dark">Faculty Name</label>
                                    <input type="text" class="form-control bordercolor" id="fname"
                                        aria-describedby="fnameHelp" placeholder="" formControlName="fname" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="subname" class="text-dark">Subject Name</label>
                                    <input type="text" class="form-control bordercolor" id="subname"
                                        aria-describedby="subnameHelp" placeholder="" formControlName="subname"
                                        required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="feedback" class="text-dark">Feedback In Details</label>
                                    <input type="text" class="form-control bordercolor" id="feedback"
                                        aria-describedby="feedbackHelp" placeholder="" formControlName="feedback"
                                        required>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-danger text-light viewbutton"
                                (click)="submit()">Submit</button>
                        </div>

                    </form>

                </div>

                <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">

                    <div class="section_title text-center">
                        <div class="section_main_title">
                            <table class="table">
                                <thead>
                                    <tr class="bg-danger text-white">
                                        <th scope="col">Sr No.</th>
                                        <th scope="col">Student Name</th>
                                        <th scope="col">Enrollment Number</th>
                                        <th scope="col">Faculty Name</th>
                                        <th scope="col">Subject Name</th>
                                        <th scope="col">Feedback Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of feedbackdata; let j = index">
                                        <td scope="row">{{j + 1}}</td>
                                        <td>{{i.name}}</td>
                                        <td>{{i.enrollmentno}}</td>
                                        <td>{{i.facultyname}}</td>
                                        <td>{{i.subjectname}}</td>
                                        <td>{{i.feedback}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>