<div class="breatcome_area d-flex align-items-end">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breatcome_title">
					<div class="breatcome_title_inner pb-2">
						<h2>Contact Us</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="main_contact_area style_three pt-80 pb-90">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="section_title text_left mb-50 mt-3">
					<div class="section_sub_title uppercase mb-3">
						<h6>Get in Touch</h6>
					</div>
					<div class="section_main_title">
						<h1>We’d love to hear from you.</h1>
					</div>
					<div class="em_bar">
						<div class="em_bar_bg"></div>
					</div>
				</div>
				<div class="contact_address">
					<div class="contact_address_company mb-3">
						<ul>
							<li class="d-flex align-items-center">
								<i class="fa fa-envelope-o"></i>
								<h5> info@ngivbt.edu.in </h5>
							</li>
							<li class="d-flex align-items-center">
								<i class="fa fa-mobile"></i>
								<h5 class="d-flex flex-column">
									<span class="pb-1"> +91 9824 299 961 </span>
									<span class="pt-1">(0285) 2680233 / 44 / 55 / 66 / 77</span>
								</h5>
							</li>
							<li class="d-flex align-items-center">
								<i class="fa fa-map-marker"></i>
								<h5 class="d-flex flex-column">
									<span>"Parth Vatika", Junagadh Bhesan Road,</span>
									<span>Via. Vadal,Nr. Bamangam, Junagadh - 362310,</span>
									<span>Gujarat, India.</span>
								</h5>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="contact_from">
					<div class="contact_from_box">
						<div class="contact_title pb-4">
							<h3>Send Message </h3>
						</div>
						<form id="contact_form" action="" [formGroup]="contactForm">
							<div class="row">
								<div class="col-lg-12">
									<div class="form_box mb-30">
										<input type="text" name="name" placeholder="Your Name" formControlName="name"
											required>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form_box mb-30">
										<input type="email" name="email" placeholder="Your Email Address"
											formControlName="email" required>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form_box mb-30">
										<input type="text" name="phone" placeholder="Your Phone" formControlName="pno"
											required>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form_box mb-30">
										<textarea name="message" id="message" cols="30" rows="10"
											placeholder="Your Comments/Questions" formControlName="msg"
											required></textarea>
									</div>
									<div class="quote_btn">
										<button class="btn" type="submit" (click)="submit()">Send Message</button>
									</div>
								</div>
							</div>
						</form>
						<div class="status"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="feature_area pt-80 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text_center mb-55">
					<div class="section_main_title">
						<h1>Important Contacts</h1>
					</div>
					<div class="em_bar">
						<div class="em_bar_bg"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="feature_style_five mb-30">
					<div class="feature_style_five_title mb-3">
						<h4>General & Student Section</h4>
					</div>
					<div class="feature_style_five_text">
						<p class="d-flex flex-column">
							<span class="d-flex align-items-center justify-content-center">
								<i class="fa fa-user-o p-3"></i>
								<b>Mr. Nilesh Parikh</b>
							</span>
							<span class="d-flex align-items-center justify-content-center">
								<i class="fa fa-envelope-o p-3"></i>
								<b>info@ngivbt.edu.in</b>
							</span>
							<span class="d-flex align-items-center justify-content-center">
								<i class="fa fa-phone p-3"></i>
								<b>+91 8200 128 112</b>
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="feature_style_five mb-30">
					<div class="feature_style_five_title mb-3">
						<h4>Training & Placement</h4>
					</div>
					<div class="feature_style_five_text">
						<p>
							<span class="d-flex align-items-center justify-content-center">
								<i class="fa fa-user-o p-3"></i>
								<b>Prof. Kishan Vekariya</b>
							</span>
							<span class="d-flex align-items-center justify-content-center">
								<i class="fa fa-envelope-o p-3"></i>
								<b>info@ngivbt.edu.in</b>
							</span>
							<span class="d-flex align-items-center justify-content-center">
								<i class="fa fa-phone p-3"></i>
								<b>+91 9904 552 249</b>
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="feature_style_five mb-30">
					<div class="feature_style_five_title mb-3">
						<h4>GTU Exam Co-Ordinator</h4>
					</div>
					<div class="feature_style_five_text">
						<p>
							<span class="d-flex align-items-center justify-content-center">
								<i class="fa fa-user-o p-3"></i>
								<b>Prof. Rakesh Akabari</b>
							</span>
							<span class="d-flex align-items-center justify-content-center">
								<i class="fa fa-envelope-o p-3"></i>
								<b>rakesh.akabari@ngivbt.edu.in</b>
							</span>
							<span class="d-flex align-items-center justify-content-center">
								<i class="fa fa-phone p-3"></i>
								<b>+91 9714 435 141</b>
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="feature_style_five mb-30">
					<div class="feature_style_five_title mb-3">
						<h4>Hostel Contact</h4>
					</div>
					<div class="feature_style_five_text">
						<p>
							<span class="d-flex align-items-center justify-content-center">
								<i class="fa fa-user-o p-3"></i>
								<b>Mr. Vipul Talaviya</b>
							</span>
							<span class="d-flex align-items-center justify-content-center">
								<i class="fa fa-phone p-3"></i>
								<b>+91 9904 406 648</b>
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="feature_style_five mb-30">
					<div class="feature_style_five_title mb-3">
						<h4>Transportation Contact</h4>
					</div>
					<div class="feature_style_five_text">
						<p>
							<span class="d-flex align-items-center justify-content-center">
								<i class="fa fa-user-o p-3"></i>
								<b>Mr. Akil Babi</b>
							</span>
							<span class="d-flex align-items-center justify-content-center">
								<i class="fa fa-phone p-3"></i>
								<b>+91 9824 237 090</b>
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="feature_style_five mb-30">
					<div class="feature_style_five_title mb-3">
						<h4>Admission Related Inquiries</h4>
					</div>
					<div class="feature_style_five_text">
						<p>
							<a class="dtbtn mt-3" routerLink="/visitor/main/enrollnow">Click Here</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>