<div class="breatcome_area d-flex align-items-end">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>Explore Our Programs</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container my-4">
    <h1 class="text-danger fw-bolder">Discover your career journey at Noble University</h1>
    <p class="mt-2 ">At Noble University, your academic path unfolds with boundless opportunities to sculpt and advance
        your career. Offering a diverse array of enriching programs, each meticulously designed with state-of-the-art
        resources and esteemed faculty, our university ensures unparalleled educational experiences,, Noble University
        is committed to delivering the highest standards of education, fostering research, innovation,
        internationalisation, student well-being, and academic excellence.</p>
</div>



<div class="container my-4">
    <h1 class="text-danger fw-bolder">Admission at Noble University for 2024'25</h1>
</div>



<div class="service_area pt-80 pb-70 text-white bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text_center mb-55">
                    <div class="section_main_title">
                        <h1 class="text-white">Our Enriching Programmes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <h4 class="text-white p-3 fw-bold">Diploma Programmes ( After Std. 10th )</h4>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>Diploma in Mechanical Enginnering</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>Diploma in Civil Enginnering</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>Diploma in Electical Enginnering</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>Diploma in Computer Enginnering</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>Diploma in Animal Enginnering</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <h4 class="text-white p-3 fw-bold">Diploma Programmes ( After Std. 12th )</h4>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>ANM ( Auxiliary Nursing & Midwifery )</a></h4>
                                <h6 class="text-dark">Duration : 2 Years <span>( Only Female Candidates are allowed )</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>ANM ( General Nursing & Midwifery )</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <h4 class="text-white p-3 fw-bold">UG Programmes ( After Std. 12th Science with A Group )</h4>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.Tech in</a></h4>
                                <h4 class="mb-0 text-danger"><a>Mechanical</a></h4>
                                <h4 class="pb-2 text-danger"><a>Engineering</a></h4>
                                <h6 class="text-dark">Duration : 4 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.Tech in</a></h4>
                                <h4 class="mb-0 text-danger"><a>Civil</a></h4>
                                <h4 class="pb-2 text-danger"><a>Enginnering</a></h4>
                                <h6 class="text-dark">Duration : 4 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.Tech in</a></h4>
                                <h4 class="mb-0 text-danger"><a>Electrical</a></h4>
                                <h4 class="pb-2 text-danger"><a>Enginnering</a></h4>
                                <h6 class="text-dark">Duration : 4 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.Tech in</a></h4>
                                <h4 class="mb-0 text-danger"><a>Computer</a></h4>
                                <h4 class="pb-2 text-danger"><a>Enginnering</a></h4>
                                <h6 class="text-dark">Duration : 4 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.Pharm.</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 4 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.Sc in</a></h4>
                                <h4 class="mb-0 text-danger"><a>Physics, IT,</a></h4>
                                <h4 class="pb-2 text-danger"><a>Mathematics</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <h4 class="text-white p-3 fw-bold">UG Programmes ( After Std. 12th Science with B Group )</h4>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.A.M.S</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 4 Years & 6 Month</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.H.M.S</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 4.5 Years + 1 Year</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.Sc</a></h4>
                                <h4 class="mb-0 text-danger"><a>Nursing</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 2 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.Tech</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 4 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.Pharm.</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 4 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.Sc in</a></h4>
                                <h4 class="mb-0 text-danger"><a>Chemistry,IT,</a></h4>
                                <h4 class="mb-0 text-danger"><a>Zoology,Botany,</a></h4>
                                <h4 class="pb-2 text-danger"><a>Microbiology</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <h4 class="text-white p-3 fw-bold">UG Programmes ( After Std. 12th Commerce / Arts / Science)</h4>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>B.Com.</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>B.B.A</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>I.M.B.A</a></h4>
                                <h6 class="text-dark">Duration : 5 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>B.Voc</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>B.M.S.</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>CA with</a></h4>
                                <h4 class="mb-0 text-danger"><a>B.Com.</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.A with</a></h4>
                                <h4 class="mb-0 text-danger"><a>English,</a></h4>
                                <h4 class="mb-0 text-danger"><a>History,</a></h4>
                                <h4 class="mb-0 text-danger"><a>Psychology,</a></h4>
                                <h4 class="pb-2 text-danger"><a>Economics</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>I.M.C.A</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 5 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.Sc.IT</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>B.C.A</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="mb-0 text-danger"><a>&nbsp;</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 3 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <h4 class="text-white p-3 fw-bold">PG Programmes ( After Graduation)</h4>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>PB.B.sc.</a></h4>
                                <h4 class="pb-2 text-danger"><a>Nursing</a></h4>
                                <h6 class="text-dark">Duration : 2 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>M.Tech</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 2 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>M.Sc.IT</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 2 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>M.C.A</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 2 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>M.B.A</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 2 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>M.Pharm</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                                <h6 class="text-dark">Duration : 2 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>M.Sc</a></h4>
                                <h6 class="text-dark">Duration : 2 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>D.M.L.T</a></h4>
                                <h6 class="text-dark">Duration : 2 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>P.G.D.M</a></h4>
                                <h6 class="text-dark">Duration : 2 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>PGDDM</a></h4>
                                <h6 class="text-dark">Duration : 2 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>M.Com</a></h4>
                                <h6 class="text-dark">Duration : 2 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>B.Ed</a></h4>
                                <h6 class="text-dark">Duration : 2 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>B.L.I.Sc</a></h4>
                                <h6 class="text-dark">Duration : 1 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>M.L.I.Sc</a></h4>
                                <h6 class="text-dark">Duration : 1 Years</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <h4 class="text-white p-3 fw-bold">Doctorate Programmes</h4>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>Education</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>Computer</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>Management</a></h4>
                                <h4 class="pb-2 text-danger"><a>&nbsp;</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>Library</a></h4>
                                <h4 class="pb-2 text-danger"><a>Science</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="mb-0 text-danger"><a>Pharmaceutical</a></h4>
                                <h4 class="pb-2 text-danger"><a>Science</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>Gujarati</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>Zoology</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>Engineering</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>Chemistry</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="service_style_ten wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
                        <div class="single_service_style_ten p-3">
                            <div class="service_style_ten_content">
                                <h4 class="pb-2 text-danger"><a>Commerce</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>