<div class="breatcome_area d-flex align-items-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title_inner pb-2">
                    <h2>List Old Question Paper</h2>
                </div>
            </div>
        </div>
    </div>

    
    
    <div class="container-fluid">
        <div class="row m-3 d-flex justify-content-center">
            <div class="col-12 shadow_light m-3">
    
                <div class="d-flex flex-column align-items-center">
                    <ul class="nav nav-tabs my-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active forbuttonradius" id="semester-tab" data-toggle="tab" href="#semester" role="tab"
                                aria-controls="semester" aria-selected="true">Semester Wise Searching</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link forbuttonradius" id="subject-tab" data-toggle="tab" href="#subject" role="tab"
                                aria-controls="subject" aria-selected="false">Subject Wise Searching</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
    
                    <div class="tab-pane fade show active" id="semester" role="tabpanel" aria-labelledby="semester-tab">
                        
                        &nbsp;
                        <div class="alert alert-secondary" role="alert">
                            Record Not Found..
                        </div>

                    </div>
    
                    <div class="tab-pane fade" id="subject" role="tabpanel" aria-labelledby="subject-tab">
    
                        &nbsp;
                        <div class="alert alert-secondary" role="alert">
                            Record Not Found..
                        </div>
    
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>