<div class="breatcome_area d-flex align-items-end">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>Academic Leaders</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-danger">PROVOST</h3>
                        <h5>Dr. H. N. Kher</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            Education is the most potent weapon; we can use to change the world. Therefore, to achieve superiority, any society or country will have to rely mainly on the supreme quality of education. Hence, creativity and maximum opportunities to facilitate students with quality education are the cardinal responsibility of every educational institute.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            The goal of the Noble university is the consummate growth of society through excellence in education, Reacher, and innovation, building a generation of highly employable entrepreneurial, socially responsible global citizens. The university emphasizes the round development of the students aiming to produce capable and competent professionals and good individuals with high morals and ethics.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            I take this opportunity to invite students to our university and become a part of this transformational journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Dr.-H.-N.-Kher.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow bg-danger">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Dr. Jay Talati.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-white">REGISTRAR</h3>
                        <h5>Dr. Jay Talati</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            Dear Noblites, On behalf of Noble University, I would like to take this opportunity to extend a warm welcome to you! The basic foundation of University education is not just theoretical knowledge as generally perceived but also to provide a quality education that caters to present-day requirements of skilled human resources in various industries. Education for students is all about finding their passion and purpose in life. University education enables a student to excel and exhibit innovative thinking, logical & analytical skills, curiosity, ethics & moral values.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Noble University, Junagadh, has been established to encourage innovative ideas & provide value-based education through experienced, highly qualified, and dedicated staff members. The University with its beautiful lush green and natural surroundings along with an infrastructure that encompasses multiple facilities is committed to providing a learning environment that results in the holistic development of students. The curriculum of each course has been designed to create a unique blend of theoretical knowledge and professional practice that will be helpful to the students in their careers. Our curriculum is updated frequently for the latest trends & research and delivered by highly acclaimed faculty with substantial academic and industry experience. Throughout their academic period, students get various opportunities for skill development and ultimately finding their dream job or embarking on the journey of their start-up.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            My dear student, you are investing in an education that will help you build a bright future and successful career by opting to study at Noble University. Noble University is determined to establish a legacy of outstanding placement opportunities and qualitative education. As a student of Noble University, you will be joining a vibrant community of highly skilled intellectuals with a lot of varied opportunities in the coming years.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-danger">VICE PROVOST,COE,DEAN FOT</h3>
                        <h5>Dr. C.D.Sankhavara</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            Welcome to the Faculty of Engineering & Technology, Noble University, Junagadh – a city of Lion, a place where students can fulfill their cherished dream.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            We are living in a fast-changing world, a changing society, progressing at a galloping speed, impact of science, scientific research, technological development, and globalization on our daily life is vibrant and unavoidable, So the need to be geared up for tomorrow is greater than ever before. Opportunities before us are immense and the task is onerous. With this in mind, we continue to march steadily towards our aim to provide responsible technocrats with sound conceptual understanding and can apply it to solve real-life problems which lead to participation in nation-building.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            In Today’s world of excessive competition where one requires to be an all-rounder whether it is in education, sports, management, or various other competitive fields. To become a winner one has to face all those challenges that come one’s way. He can achieve the desired goal with his hard work. As there is no shortcut to success. One cannot think of becoming great and renowned overnight because it requires a lot of devotion, dedication, and desire in the field that one is pursuing.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Keeping these factors intact, we have also taken up the challenge to mold our students and cater to what is required in making them tomorrow’s winners. I completely assure the guardians and their wards to render all that is necessary for students to come out to this highly competitive world with flying colors.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Dr. C.D.Sankhavara.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow bg-danger">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Dr. Santosh Kirtane.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-white">DEAN - FACULTY OF PHARMACY</h3>
                        <h5>Dr. Santosh Kirtane</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            Welcome to the department of pharmacy at Noble University!
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            As dean of faculty of the pharmacy Department, I am tremendously pleased with the great legacy of offering experiment-based teaching that our institution has preserved since its foundation in 2007. Our postgraduate and graduate programs prepare our students to become research scientists, clinical research associates, clinical pharmacists, drug inspectors, chemists and druggists, pharmacists, and many more, with the moral depth and intellectual intensity necessary to meet the challenges of a time of critical transition in society.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Together with a solid education, one should also have awareness of external topics like what the future holds for pharmacy and how rapidly this area is growing. Several students even finish bachelor's, master's, and Ph.D. degrees here. In a 4-year bachelor's degree, a student brings little in the first year and departs with a lot. Students are also provided with a study on how they might adjust to forthcoming major health concerns. And the mentoring of experienced professors is also vital to helping brilliant, emerging students. Instruction is provided by guest lectures, seminars, and sophisticated contemporary machines as required, and it is only with the finest students that our institution will collect, develop, and advance the globe.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            With best regards, thanks!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-danger">DEAN - FACULTY OF SCIENCE</h3>
                        <h5>Dr. Darshan Jani</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            I, Dr. Darshan Jani, Welcoming you on the virtual platform of Noble University. After the journey of 15 years in the higher education, I joined Noble University Due to high ethical values and students centric vision of organization.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Faculty of science is unique in terms of not only outcome base curriculum but also strong pedagogical foundation. We aim to provide the world class academics with research pursuance which later on transform into start-up for students.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Teamwork and multi-to-trans disciplinary approach of Noble University boosts the overall output of any constituent institute of campus. I am sure that our MOUs & collaborations with industries & research organizations would provide meticulous exposure to students to fulfill the need of future employments.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            We follow the proverb… " What I hear, I forget. What I see, I remember. What I do, I understand. “
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Dr. Darshan Jani.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow bg-danger">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Dr. Sanjay S. Patil.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-white">DEAN - FACULTY OF AYURVEDA</h3>
                        <h5>Dr. Sanjay S. Patil</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            Education is the most potent weapon; we can use to change the world. Therefore, to achieve superiority, any society or country will have to rely mainly on the supreme quality of education. Hence, creativity and maximum opportunities to facilitate students with quality education are the cardinal responsibility of every educational institute.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            The goal of the Noble university is the consummate growth of society through excellence in education, Reacher, and innovation, building a generation of highly employable entrepreneurial, socially responsible global citizens. The university emphasizes the round development of the students aiming to produce capable and competent professionals and good individuals with high morals and ethics.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            I take this opportunity to invite students to our university and become a part of this transformational journey.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-danger">DEAN - FACULTY OF HOMEOPATHY</h3>
                        <h5>Dr. Falguni Joshi</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            It gives me immense pleasure to welcome you to the website so that we can provide more information about Noble Homoeopathic College & Hospital. First of all, I congratulate you on choosing Medical Profession. The doctor is recognized as the most respectful and noble person in society and every human being needs medical care some other times. It gives double satisfaction i.e., service and profession. Homeopathy is the second most accepted and popular system of Medicine after Allopathy because of its efficacy, simplicity, safety, and economy. We have focused on the latest instruments, Equipment, and other amenities of Laboratories, Departments which is providing a rich base to avail the best knowledge.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            The faculties have been selected on their Qualification, efficiency, and dedication which will build up the career of the students and will motivate them in their endowed. Our association with the Research Division of Noble Homoeopathic College will make a platform for advanced study in Homoeopathy.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            We have made all the facilities available under our organization for students like Separate hostels for boys and girls, Canteen, Mess, Laundry, Indoor and Outdoor games, Bus, Bank, etc. Our curriculum of B.H.M.S. will be at par with the guidelines of the central council o homeopathy but is enhanced by focusing on the areas wherever it is required. Ultimately, I am confident that Doctors who are undergoing study B.H.M.S. course with us will be more confident, and successful in society and their profession.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Dr. Falguni Joshi.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow bg-danger">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Mr. Paresh Vora.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-white">DEAN - FACULTY OF COMPUTER APPLICATION</h3>
                        <h5>Mr. Paresh Vora</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            Welcome to the Faculty of computer application (FCA), Noble University website, and explore! Today we are better positioned than ever before to address the grand challenges of the coming century. At FCA, putting knowledge to practice with innovations in critical areas of concern of the present world is largely followed. FCA encourages multidisciplinary collaborations to succeed in our rapidly changing world. We are in the process of creating global engineers to be problem solvers, project leaders, communicators, and ethical citizens.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            We offer a rich educational experience through a student-centered learning environment. Transcending the educational research frontier is an integral part of this experience. Close collaborations with the university’s extraordinary collection of excellent professional schools provide a wealth of research options. Through innovative curricula, teamwork approach, and leadership-building experiences, FCA students gain vital communication and critical-thinking skills. In addition to the opportunities for research experiences, our students also avail themselves of a huge array of curricular and extracurricular activities through flagship events like Sports, and cultural and Technical events like workshops, seminars, and technical competitions., I look forward to making a bridge by tying Students and Industry through Research besides employment.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            I invite you to become better acquainted with the Faculty of computer application, faculty, and facilitation while discovering not only software engineers' endeavors but campus life too. To become a student of FCA, Noble University; the admission process is made very simple direct admission.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Best Wishes !
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow">
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-danger">DEAN - FACULTY OF NURSING</h3>
                        <h5>Mr. Bipin Pandya</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            As a dean of the college of Nursing, I am extremely proud of each and every person for providing practical as well as theorical knowledge based on Nursing profession. Our undergraduate and Graduate Programs prepare our students to become leaders with the moral depth and intellectual intensity necessary to meet the challenges of a time of critical practice.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Mr. Bipin Pandya.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about_area pt-20 pb-40">
    <div class="container">
        <div class="row shadow bg-danger">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-6 d-flex align-items-center">
                <div class="single_video">
                    <div class="video_thumb experience text_center">
                        <img src="../../../../assets/images/slider/Mrs. Darshana Bosamiya.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-6">
                <div class="section_title text_left mb-4">
                    <div class="section_main_title">
                        <h3 class="text-white">DEAN - FACULTY OF EDUCATION</h3>
                        <h5>Mrs. Darshana Bosamiya</h5>
                    </div>
                    <div class="section_content_text pt-4">
                        <p>
                            “That's why the faith is sustained It's like a paradise right at your doorstep." Consistently reflective and personable with a vision to achieve the fundamental purpose of character and true education in the lap of nature. Carrying out our noble responsibility in the name of Nirman, our organization Shri Vivek Bharati Trust B.Ed. in college All the trainees who want to join in the creation of the replica of God and the Eternals of education are our Mansarovar rupees. Welcome to Gnanasarovar Sanstha...
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            "Not up to Dhara, not up to Gagan We want to reach the minds of children"
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            B.Ed. It is a program aimed at achieving a school education and an easy way to get a noble profession and government job is also Here to make the adage "Education is the name rather than the characteristics of a person" reach the minds of children.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Hearty congratulations to the teachers-instructors who want to join the profession of childcare... Our Institute. Shri Vivek Bharti Trust B.Ed. Intensive vocational training of B.Ed in college, knowledge expansion among trainees And to deepen the sentiments, the entire U.G.C. Valid and Ph.D. Degree holders, current technical The best physical structure of the era, noble teaching team, and intensive training mean our trustees are associated with Mana Vachan Karma. This institute gives full justice to the guided professional courses and makes the training worthwhile.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            And wish you to become a metaphor for Guru Pratima with pride... Come on.
                        </p>
                    </div>
                    <div class="section_content_text">
                        <p>
                            Come be an integral part of the family... welcome.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>