<div class="footer-middle fw-bolder">
    <div class="container">
        <div class="row footer-bottom pt-3 pb-1">
            <div class="col-lg-4 col-md-4">
                <div class="footer-bottom-content">
                    <div class="footer-bottom-content-copy">
                        <p>© 2023 Noble University, All Rights Reserved. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="footer-bottom-right">
                    <div class="footer-bottom-right-text">
                        <a class="absod" routerLink="/student/main/privacy_policy">Privacy Policy</a>
                        <a class="absod" routerLink="/student/main/terms_conditions"> Terms & Conditions</a>
                        <a class="absod" routerLink="/student/main/contact_us"> Contact Us </a>
                        <a routerLink="/student/main/cancellation_policy"> Cancellation and Fee Refund Policy </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>